.settings-table-bg{
    max-height: 75vh !important;
}
.table-wrapper{
    max-height: 55vh !important;
    overflow-x: auto;
    margin-bottom: 20px;
}
.close-btn{
  position: absolute;
  right: 8px;
  top: -5px;
}
// .holidays th:first-child, td:first-child{
//     width: auto !important;
// }

::ng-deep .custom-details-dialog .mat-dialog-container {
    width: 70% !important;
}
.custom-btn{
    background-color: #126EB4 !important;
    color: white !important;
    font-size: 13px !important;
}