<div class="container-wrapper settings-main-content jobs px-0">
    <section class="settings-table-bg px-3 customize-balance">

        <!-- Table -->
        <div class="row mx-1 my-2 px-0 table-wrapper">
            <div class="col-12 px-0">
                <table class="table table-hover table-list">
                    <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Employee Name
                                <i *ngIf="!arrowState['employee_name']" class="bi bi-arrow-down"
                                    (click)="sort('asc', 'employee_name')"></i>
                                <i *ngIf="arrowState['employee_name']" class="bi bi-arrow-up"
                                    (click)="sort('desc', 'employee_name')"></i>
                                <button mat-icon-button [matMenuTriggerFor]="employeesFilterMenu" (menuOpened)="openFilter(employeeFilter)"
                                [ngClass]="filters.employees.length>=1 ? 'filterdColumn':''">
                                <span *ngIf="filters.employees.length>=1">{{filters.employees.length.toString().padStart(2,
                                    '0')}}</span>
                                <i class="bi-funnel" *ngIf="filters.employees.length===0"></i>
                                </button>

                                <mat-menu #employeesFilterMenu="matMenu">
                                <app-generic-table-filter #employeeFilter [fetchOptions]="fetchEmployees" [(selectedOptions)]="filters.employees"
                                    (selectedOptionsChange)="getEmployeesBalance()"></app-generic-table-filter>
                                </mat-menu>
                            </th>
                            <th *ngFor="let leaveType of leaveTypes">{{ leaveType }}</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="AllEmployeeBalanceList?.length > 0">
                            <tr
                                *ngFor="let item of AllEmployeeBalanceList | customSort:directionValue:sortValue | paginate: { itemsPerPage: tableSize, currentPage: page,totalItems: count }; let i=index">
                                <td>{{getContinuousIndex(i)}}</td>
                                <td>{{ item.employee_name }}</td>
                                <td *ngFor="let leaveType of leaveTypes">
                                    {{ getLeaveBalance(item, leaveType) }}
                                </td>
                                <td><button class="btn btn-sm custom-btn" (click)="customize(item)">Customize</button></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- No Records -->
        <div class="row mx-1 my-2 px-0" *ngIf="AllEmployeeBalanceList?.length === 0">
            <app-generic-norecards></app-generic-norecards>
        </div>

        <!-- Pagination -->
        <div class="row mx-0 px-3" *ngIf="AllEmployeeBalanceList?.length > 0">
            <div class="col-12 px-0">
                <div class="pagination-container p-0">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                    <div class="items-per-page-container">
                        <div>Items per page</div>
                        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)"
                            panelClass="paginationPanelClass" class="page-size">
                            <mat-option *ngFor="let size of tableSizes" [value]="size">{{ size }}</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>