::ng-deep .custom-details-dialog{
    justify-content: center !important;
}
::ng-deep .mat-dialog-container {
    width: 60% !important;
    padding: 10px !important;
}
::ng-deep .mat-form-field-infix{
    padding: 0.5em 0 !important;
    padding-bottom: 1em !important;
}
::ng-deep .mat-form-field-wrapper{
    padding: 15px 0 !important;
}
::ng-deep .create-update-holiday .highlight-background .mat-form-field-flex {
  background-color: rgb(235 235 235) !important;
  pointer-events: none !important;
}
.proceedbtn:disabled {
    background-color: #cccccc !important;
    color: #666666;
}