.btn-menu-trigger {
  height: 37px !important;
  line-height: 35px !important;
  width: 35px !important;
}
.bi-download::before{
  font-size: large !important;
  color:black !important;
}
.form-control:focus {
  border-color:lightgray !important;
  box-shadow: none !important;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 30px;
  font-size: 14px !important;
  zoom:95%;
}
mat-form-field{
  border: 0 !important;
  height: 40px;
}

::ng-deep .settings-table-bg .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
  width: 200px;
  display: contents !important;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}
.menu-trigger {
  padding: 0;
  min-width: 0;
  width: 37px;
  height: 33px !important;
  flex-shrink: 0;
  line-height: 32px;
  border-radius: 0 !important;
  border-color: transparent !important;
  background-color: white;
}

.isActive {
  background-color: #ebebeb !important;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.tab-button-content {
  background-color: #fff;
  width: 75px;
  outline: none;
  border: none;
}

.mat-btn-s {
  margin: 0px 5px;
}
.set-position{
  position: absolute;
  top:10px;
}
.scroll-h{
  height: 40vh;
  overflow-y: auto;
  padding-right: 10px;
}
.p-r{
  position: relative !important;
}
