.btn-menu-trigger {
  height: 37px !important;
  line-height: 35px !important;
  width: 35px !important;
}
.bi-download::before{
  font-size: large !important;
  color:black !important;
}
.form-control:focus {
  border-color:lightgray !important;
  box-shadow: none !important;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 30px;
  font-size: 14px !important;
  zoom:95%;
}
.search-div #search-icon-tab {
  position: absolute;
  right: 30px !important;
  top: 19px !important;
  font-size: 15px !important;
  color: grey;
  cursor: text !important;
}




