::ng-deep .mat-form-field-wrapper {
  padding: 0px 0 !important;
}
.no-padding-bottom ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.btn-menu-trigger {
  height: 37px !important;
  line-height: 35px !important;
  width: 35px !important;
}
.bi-download::before{
  font-size: large !important;
  color:black !important;
}
.form-control:focus {
  border-color:lightgray !important;
  box-shadow: none !important;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 30px;
  font-size: 14px !important;
  zoom:95%;
}
mat-form-field{
  border: 0 !important;
  height: 40px;
}

::ng-deep .settings-table-bg .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
  width: 250px;
  display: contents !important;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}
.menu-trigger {
  padding: 0;
  min-width: 0;
  width: 37px;
  height: 33px !important;
  flex-shrink: 0;
  line-height: 32px;
  border-radius: 0 !important;
  border-color: transparent !important;
  background-color: white;
}

.isActive {
  background-color: #0F5C98 !important;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.tab-button-content {
  background-color: #fff;
  width: 75px;
  outline: none;
  border: none;
}

.mat-btn-s {
  margin: 0px 5px;
}
.set-position{
  position: absolute;
  top:-20px;
  right: 10px;
}
.scroll-h{
  height: 40vh;
  overflow-y: auto;
}

.p-r{
  position: relative !important;
}
button.proceedbtn:disabled{
  color: #fff;
}
.bg-transparent{
  font-size: 12px !important;
  text-align: center !important;
}
.negativeText {
color: red !important;
}
.positiveText{
  color: green !important;
}

[ngbDropdownToggle]::after {
  display: none !important;
}
.position-absolute.date-picker-input{
  width: 0 !important;
}
button.filterdColumn {
  background: #fff;
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  border-radius: 8% !important;
  span.mat-button-wrapper span{
    color: red !important;
    font-size: 12px !important;
    font-weight:700;
  }
}
.dropdown-scroll {
  max-height: 250px; /* or whatever fits */
  overflow-y: auto;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 3px;
  background-color: rgb(223, 224, 225) !important;
  display: inline-block;
}

::ng-deep .leave-type .mat-form-field-appearance-outline .mat-form-field-infix{
  height: 40px !important;
  padding: 0 !important;
}
::ng-deep .leave-type .mat-select {
    padding: 5px 0px !important;
}
.mat-select-search-wrapper {
    padding: 8px;
    background-color: #fff;
  }
  
  .mat-select-search {
    width: 100%;
  }
  .download-icons{
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .downloads{
    gap: 10px;
    display: flex;
    padding-top: 8px;
  }
  ::ng-deep .downloads .mat-mini-fab .mat-button-wrapper {
    padding: 0px !important;
  }
  ::ng-deep .downloads .mat-mini-fab{
    line-height: 0px !important;
  }
.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 6px;
  padding: 5px;
  transition: border-color 0.2s, background-color 0.2s;
  align-content: center;
}

.drop-zone.drag-active {
  border-color: #3f51b5;
  background-color: #f3f6ff;
}
.drop-zone.disabled {
  pointer-events: none;
  opacity: 0.6; /* optional style */
  border-color: #ccc; /* optional style */
}