<section class="settings-table-bg px-3">
    <div class="row mx-0 my-3 px-0 align-items-center">
      <!-- Search Field -->
      <div class="col-12 mt-2 col-sm-12 col-md-4 col-lg-3 search-div px-0 position-relative" *ngIf="config.searchable">
        <input
          type="search"
          class="form-control p-2 sizeinput"
          [(ngModel)]="config.searchTerm"
          (input)="onSearch(config.searchTerm)"
          placeholder="Search"
          autocomplete="off"
          aria-describedby="emailHelp"
        />
        <i *ngIf="!config.searchTerm" class="bi bi-search" id="search-icon-tab"></i>
      </div>
      <div class="col-auto mt-2 col-sm-auto col-md-auto col-lg-2" *ngIf="config?.showIncludeAllJobs && userRole!='Admin'">
        <mat-checkbox color="primary" class="example-margin" [checked]="config.includeAllJobsValue" [(ngModel)]="config.includeAllJobsValue" [ngModelOptions]="{standalone: true}" [disabled]="config.includeAllJobsEnable" (change)="onIncludeJobsChange($event)" ><h5 class="c-headerss">Include All Jobs</h5></mat-checkbox>
      </div>
      <!-- Date Range Filter -->
      <!-- <div class="col-12 mt-2 col-sm-12 col-md-4 col-lg-3" *ngIf="config.dateRangeFilter">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>&nbsp; Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" />
            <input matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-datepicker-toggle>
        </mat-form-field>
      </div> -->
      <div class="col-12 mt-2 col-sm-12 col-md-4 col-lg-3" *ngIf="config.dateRangeFilter">
        <!-- <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>&nbsp; Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="startDate" />
            <input matEndDate placeholder="End date" [(ngModel)]="endDate" (dateChange)="onDateRangeChange(startDate,endDate)"/>
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field> -->
        <app-week-picker (weekSelected)="weekDatePicker($event)" [resetWeek]="resetWeekDate"></app-week-picker>
      </div>

      <!-- Spacer -->
      <div class="col"></div>
        <!-- Tab design -->
       <div class="col-auto mt-2 col-sm-auto col-md-auto col-lg-auto" *ngIf="config?.headerTabs">
          <button mat-raised-button class="mat-btn-s tab-button-content" [ngClass]="{'isActive': isCurrent}" type="button" type="button" (click)="getCurrentDatasetList()">Current</button>
          <button mat-raised-button class="mat-btn-s tab-button-content" [ngClass]="{'isActive': isHistory}" type="button" type="button" (click)="getHistoryDatasetList()">History</button>
        </div>
  <!-- Download Menu -->

      <div class="col-auto col-sm-auto col-md-auto col-lg-auto px-0 mx-0 my-1" [ngClass]="config?.hideDownload ? 'p-r' : 'mt-2'"
      *ngIf="config?.showDownload && paginatedData?.length > 0">
       <div [ngClass]="config?.hideDownload ? 'set-position' : 'my-1'">
        <button
          mat-icon-button
          [matMenuTriggerFor]="downloadMenu"
          aria-label="Download"
          class="border rounded menu-trigger"
        >
          <i class="bi bi-download"></i>
        </button>
        <mat-menu #downloadMenu="matMenu" xPosition="after" yPosition="below">
          <button mat-menu-item (click)="downloadCSV()">
            <mat-icon style="color: green">table_view</mat-icon>
            <span>CSV</span>
          </button>
          <button mat-menu-item (click)="downloadPDF()">
            <mat-icon style="color: red">picture_as_pdf</mat-icon>
            <span>PDF</span>
          </button>
        </mat-menu>
      </div>
      </div>
      <div class="col-auto mt-2 col-sm-auto col-md-auto col-lg-auto text-end" *ngIf="config?.sendWorkCulture && userRole!='Accountant'">
        <button mat-raised-button class="mat-btn-s proceedbtn" type="button"  (click)="isEditBtn ? submitWorkCultureDetails() : enableFormFields()"><span *ngIf="!isEditBtn">Edit</span><span *ngIf="isEditBtn">Submit</span></button>
      </div>
      <div class="col-auto mt-2 col-sm-auto col-md-auto col-lg-auto text-end" *ngIf="config?.sendEmail">
        <span
        [ngbTooltip]="tooltipMessage" placement="top">
        <button mat-raised-button class="mat-btn-s proceedbtn"  [disabled]="isDisabled" type="button" (click)="sendEmailEvent()">Send Email</button>
      </span>
      </div>
    </div>
<!-- Data Table -->
<div class="row mx-1 my-2 px-0 table-wrapper">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0 ">
    <table class="table table-hover table-list">
      <thead>
        <tr>
          <th *ngFor="let col of config.columns; trackBy: trackByColumnKey" style="cursor: pointer;">
            {{ col.label }}

            <!-- Sort Icons -->
            <i *ngIf="!arrowState[col.key]" (click)="sort('asc', col.key)" class="bi bi-arrow-up ms-1"></i>
            <i *ngIf="arrowState[col.key]" (click)="sort('desc', col.key)" class="bi bi-arrow-down ms-1"></i>

            <!-- Filter Buttons -->
            <ng-container *ngIf="col.filterable">
              <ng-container [ngSwitch]="col.filterType">
                <ng-container *ngSwitchCase="'date'">
                  <!-- Show calendar icon to set/change date if no filter is set for this column -->
                  <button
                    mat-icon-button
                    *ngIf="!columnFilters[col.key]"
                    (click)="setDateFilterColumn(col.key); picker.open()"
                    class="ms-1 btn-menu-trigger"
                    [attr.aria-label]="'Set date filter for ' + col.label"
                  >
                    <i class="bi bi-calendar"></i>
                  </button>
                  <!-- Show clear icon if a filter is set for this column -->
                  <button
                    mat-icon-button
                    *ngIf="columnFilters[col.key]"
                    (click)="clearDateFilter(col.key)"
                    class="ms-1 btn-menu-trigger"
                    [attr.aria-label]="'Clear date filter for ' + col.label"
                  >
                    <i class="bi bi-x-circle"></i>
                  </button>

                  <!-- Hidden Datepicker Input: Always in DOM, visually hidden by CSS. picker.open() targets this. -->
                  <!-- Removed *ngIf from mat-form-field. Added more robust hiding style for clarity. -->
                  <mat-form-field class="opacity-0 position-absolute" >
                    <mat-label>Choose a date for {{col.label}}</mat-label> <!-- Label for accessibility -->
                    <input
                      matInput
                      [matDatepicker]="picker"
                      [(ngModel)]="dateFilterValue"
                      (dateChange)="onDateSelected($event)"
                      [attr.aria-label]="'Date input for ' + col.label"
                    />
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'multi-select'">
                  <div ngbDropdown class="d-inline-block" container="body">
                    <button id="dropdownBasic1" mat-icon-button style="outline: none;background: transparent;border:0" ngbDropdownToggle><i class="bi bi-toggles" style="color:white"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-2" (click)="$event.stopPropagation()">
                      <ng-container *ngIf="col.key as columnKey" >
                        <div class="position-relative mb-2" >
                          <i
                            class="bi text-secondary position-absolute top-50 end-0 translate-middle-y me-2"
                            [ngClass]="{
                              'bi-x-lg': filterSearchText[columnKey],
                              'bi-search': !filterSearchText[columnKey]
                            }"
                            style="cursor: pointer"
                            (click)="filterSearchText[columnKey] && (filterSearchText[columnKey] = '')"
                          ></i>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Search"
                            [(ngModel)]="filterSearchText[columnKey]"
                          />
                        </div>

                        <mat-selection-list
                          [(ngModel)]="columnFilters[columnKey]"
                          (ngModelChange)="onFilterChange(columnFilters[columnKey],col)"
                          [multiple]="true"
                          >
                          <mat-list-option
                            *ngFor="let option of getFilteredOptions(columnKey)"
                            [value]="option.id"
                          >
                            {{ option.name }}
                          </mat-list-option>
                        </mat-selection-list>

                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container
          *ngFor="
            let item of paginatedData
              | customSort: directionValue : sortValue
              | paginate: paginationConfig;let i = index"
        >
        <tr *ngIf="config.formContent" [formGroup]="getFormGroup(i)">
          <td *ngFor="let col of config.columns">
            <div *ngIf="!col.navigation">
               <ng-container *ngIf="!col.inputField && !col.fileInputField">
                {{ col.type === 'date' ? (item[col.key] | date: 'dd/MM/yyyy') : item[col.key] !== null && item[col.key] !== undefined && item[col.key] !== '' ? item[col.key] : 'NA'}}
               </ng-container>
               <ng-container *ngIf="col.inputField">
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                  <mat-label>Points</mat-label>
                  <input matInput type="number" placeholder="Enter points" maxlength="3" minlength="1" max="100" min="0" formControlName="points" autocomplete="off" (keypress)="validateKeyPress($event)">
                </mat-form-field>
                <div style="font-size: 11px;padding-left: 10px;margin-top: 5px;color:#f44336;" *ngIf="rows.at(i)?.get('points')?.errors?.['invalid'] && rows.at(i)?.get('points')?.errors?.['touched'] || rows.at(i)?.get('points')?.['dirty']">
                  <span *ngIf="rows.at(i)?.get('points')?.errors?.['maxlength']">
                    Points cannot exceed 3 characters.
                  </span>
                  <span *ngIf="rows.at(i)?.get('points')?.errors?.['max']">
                    Please enter a number with up to 100.
                      </span>
                  <span *ngIf="rows.at(i)?.get('points')?.errors?.['minlength']">
                    Points must be at least 1 character.
                  </span>
                  <span *ngIf="rows.at(i)?.get('points')?.errors?.['min']">
                    Points must be at least 0.
                  </span>
                </div>
               </ng-container>
               <ng-container *ngIf="col.fileInputField">
                <input type="file" accept="*" formControlName="work_ethics_file" #fileInput
                (change)="onFileSelected($event,i)" hidden>
              <div class="image-container w-100 d-flex justify-content-between align-items-center"
                style="padding: 1px 15px;"
                [ngClass]="{'is-invalid': rows.at(i)?.get('work_ethics_file')?.['touched'] && rows.at(i)?.get('work_ethics_file')?.['invalid']}">
                <mat-label *ngIf="selectedFile[i] && selectedFile[i]?.name" [ngbTooltip]="selectedFile[i]?.name" ><a type="button" (click)="openFileInNewTab(i)">{{selectedFile[i]?.name}}</a></mat-label>
                <mat-label *ngIf="!selectedFile[i] && !selectedFile[i]?.name">Upload File</mat-label>
                <button type="button" mat-icon-button (click)="triggerFileInput(i)">
                  <i matTooltip="{{selectedFile[i] && selectedFile[i]?.name ? 'Edit' : 'Upload File'}}"
                    class="{{selectedFile[i] && selectedFile[i]?.name ? 'bi bi-pencil-fill' : 'bi bi-file-earmark-spreadsheet'}}"
                    id="edit-or-upload-icon"></i>
                </button>
              </div>
              <div  *ngIf="rows.at(i)?.get('work_ethics_file')?.['touched'] && rows.at(i)?.get('work_ethics_file')?.['invalid']"
                style="font-size: 11px;padding-left: 10px;margin-top: 5px;color:#f44336">
                <span *ngIf="rows.at(i)?.get('work_ethics_file')?.errors?.['maxSize']">File size exceeds 10MB.</span>
              </div>
               </ng-container>
            </div>


            <ng-container *ngIf="col.navigation">
              <a
                (click)="navigateToEmployee(item)"
                class="text-primary text-decoration-underline"
                style="cursor: pointer"
              >
              {{ item[col.key] !== null && item[col.key] !== undefined && item[col.key] !== '' ? item[col.key] : 'NA' }} </a>
            </ng-container>
          </td>

          <td *ngIf="config.actions?.length">
            <ng-container *ngFor="let act of config.accessConfig">
              <button
                *ngIf="config.actions.includes(act)"
                (click)="triggerAction(act, item)"
                class="btn btn-sm"
                [ngClass]="{
                  'text-danger': act === 'DELETE',
                  'text-success': act === 'ACCEPT',
                  'text-warning': act === 'REJECT'
                }"
                [title]="act"
              >
                <i
                  [ngClass]="{
                    'fas fa-trash-alt': act === 'DELETE',
                    'bi bi-check-circle': act === 'ACCEPT',
                    'bi bi-x-circle': act === 'REJECT'
                  }"
                ></i>
              </button>
            </ng-container>
          </td>
        </tr>
        <tr *ngIf="!config.formContent">
          <td *ngFor="let col of config.columns">
            <div *ngIf="!col.navigation" [ngClass]="col.key === 'remaining_time' ? isPositiveOrNegative(item?.remaining_time):''">
              {{ col.type === 'date' ? (item[col.key] | date: 'dd/MM/yyyy') : item[col.key] !== null && item[col.key] !== undefined && item[col.key] !== '' ? item[col.key] : 'NA' }}
            </div>

            <ng-container *ngIf="col.navigation">
              <a
                (click)="navigateToEmployee(item)"
                class="text-primary text-decoration-underline"
                style="cursor: pointer"
              >
              {{ item[col.key] !== null && item[col.key] !== undefined && item[col.key] !== '' ? item[col.key] : 'NA' }}
              </a>
            </ng-container>
          </td>
        </tr>
        </ng-container>
      <tr *ngIf="config?.estimationDetails" class="bg-transparent">
          <td colspan="6" class="bg-transparent"></td>
          <td class="bg-transparent"><b>Estimated (hrs) : {{ config?.tableFooterContent?.total_estimated_time || 'NA' }}</b></td>
          <td class="bg-transparent"><b>Actual Time (hrs) : {{ config?.tableFooterContent?.total_actual_time || 'NA'}}</b></td>
          <td class="bg-transparent"><b>Average Productivity (hrs): {{ config?.tableFooterContent?.avg_quantitative_productivity || 'NA'}}</b></td>
      </tr>
      <tr *ngIf="config?.averageProductivity" class="bg-transparent" >
        <td colspan="7" class="bg-transparent"></td>
        <td  class="bg-transparent"><b>Average Productivity: {{ config?.tableFooterContent?.avg_qualitative_productivity || 'NA'}}</b></td>
      </tr>
      <tr *ngIf="config?.average_productive_hour"  class="bg-transparent">
        <td colspan="6" class="bg-transparent"></td>
        <td class="bg-transparent"><b>Total Estimated (hrs) : {{ config?.tableFooterContent?.total_estimated_time || 'NA' }}</b></td>
        <td class="bg-transparent"></td>
        <td class="bg-transparent"><b>Total Productivity (hrs) : {{ config?.tableFooterContent?.total_productive_hour || 'NA'}}</b></td>
        <td class="bg-transparent"><b>Total Actual Time (hrs): {{ config?.tableFooterContent?.total_actual_time || 'NA'}}</b></td>
      </tr>
      </tbody>
    </table>

    <div class="row mx-1 my-2 px-0" *ngIf="paginatedData?.length === 0">
      <app-generic-norecards></app-generic-norecards>
    </div>
  </div>
  </div>
  </section>
  <!-- Pagination -->
  <div class="pagination-container pt-1" *ngIf="paginatedData?.length > 0 && config?.pagination">
    <!-- Pagination Controls (Center-Aligned) -->
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>

    <!-- Items Per Page Selector (Right-Aligned) -->
    <div class="items-per-page-container px-1">
      <div>Items per page</div>
      <mat-select
        [(ngModel)]="tableSize"
        (selectionChange)="onTableSizeChange($event)"
        placeholder="10"
        class="page-size"
      >
        <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
      </mat-select>
    </div>
  </div>






