<div class="container-wrapper settings-main-content px-0">
    <section class="settings-table-bg px-3 comp-off">

        <!-- Filters Row -->
        <div class="row mx-0 px-0">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row mx-0 gx-0 align-content-center">

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-1 pe-2">
                        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                            <mat-label>All Data<b class="r-star">*</b></mat-label>
                            <mat-select autocomplete="off" placeholder="Select leave type"
                                panelClass="custom-select-panel" (selectionChange)="selectedData()">
                                <mat-option *ngFor="let data of dataOptions" [value]="data.value">{{
                                    data.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 text-end align-content-center">
                <button mat-raised-button class="cancel-button mat-btn-s" type="button" (click)="reset()">
                    Reset
                </button>
                <button mat-raised-button class="proceedbtn mat-btn-s" (click)="openGrantCompOff()">Add Request</button>
            </div>
        </div>

        <!-- Table -->
        <div class="row mx-1 my-2 px-0 table-wrapper">
            <div class="col-12 px-0">
                <table class="table table-hover table-list">
                    <thead>
                        <tr>
                            <!-- <th>
                                <mat-checkbox [(ngModel)]="selectAll" (change)="toggleAllSelection()"></mat-checkbox>
                            </th> -->
                            <th>S.NO</th>
                            <th>
                                Employee Name
                                <i *ngIf="!arrowState['employee_name']" class="bi bi-arrow-down"
                                    (click)="sort('asc', 'employee_name')"></i>
                                <i *ngIf="arrowState['employee_name']" class="bi bi-arrow-up"
                                    (click)="sort('desc', 'employee_name')"></i>
                                <button mat-icon-button [matMenuTriggerFor]="employeesFilterMenu"
                                    (menuOpened)="openFilter(employeeFilter)"
                                    [ngClass]="filters.employees.length>=1 ? 'filterdColumn':''">
                                    <span
                                        *ngIf="filters.employees.length>=1">{{filters.employees.length.toString().padStart(2,'0')}}</span>
                                    <i class="bi-funnel" *ngIf="filters.employees.length===0"></i>
                                </button>

                                <mat-menu #employeesFilterMenu="matMenu">
                                    <app-generic-table-filter #employeeFilter [fetchOptions]="fetchEmployees"
                                        [(selectedOptions)]="filters.employees"
                                        (selectedOptionsChange)="onFilterChange($event, 'employees')"></app-generic-table-filter>
                                </mat-menu>
                            </th>
                            <th>
                                Reporting To
                                <i *ngIf="!arrowState['reporting_to']" class="bi bi-arrow-down"
                                    (click)="sort('asc', 'reporting_to')"></i>
                                <i *ngIf="arrowState['reporting_to']" class="bi bi-arrow-up"
                                    (click)="sort('desc', 'reporting_to')"></i>
                            </th>
                            <th>
                                Worked Date
                                <i *ngIf="!arrowState['worked_date']" class="bi bi-arrow-down"
                                    (click)="sort('asc', 'worked_date')"></i>
                                <i *ngIf="arrowState['worked_date']" class="bi bi-arrow-up"
                                    (click)="sort('desc', 'worked_date')"></i>
                            </th>
                            <th>
                                Expiry Date
                                <i *ngIf="!arrowState['expiry_date']" class="bi bi-arrow-down"
                                    (click)="sort('asc', 'expiry_date')"></i>
                                <i *ngIf="arrowState['expiry_date']" class="bi bi-arrow-up"
                                    (click)="sort('desc', 'expiry_date')"></i>
                            </th>
                            <th>Status
                                <button mat-icon-button [matMenuTriggerFor]="statusFilterMenu"
                                    [ngClass]="filters.status_name.length>=1 ? 'filterdColumn':''">
                                    <span *ngIf="filters.status_name.length>=1">{{filters.status_name.length}}</span>
                                    <i class="bi-funnel" *ngIf="filters.status_name.length===0"></i>
                                </button>

                                <mat-menu #statusFilterMenu="matMenu">
                                    <app-generic-table-filter #leaveStatusFilter [options]="leaveStatus"
                                        [(selectedOptions)]="filters.status_name"
                                        (selectedOptionsChange)="onFilterChange($event, 'status_name')">
                                    </app-generic-table-filter>
                                </mat-menu>
                            </th>
                            <th>
                                Credited
                                <i *ngIf="!arrowState['credited']" class="bi bi-arrow-down"
                                    (click)="sort('asc', 'credited')"></i>
                                <i *ngIf="arrowState['credited']" class="bi bi-arrow-up"
                                    (click)="sort('desc', 'credited')"></i>
                            </th>
                            <th>
                                Taken
                                <i *ngIf="!arrowState['taken']" class="bi bi-arrow-down"
                                    (click)="sort('asc', 'taken')"></i>
                                <i *ngIf="arrowState['taken']" class="bi bi-arrow-up"
                                    (click)="sort('desc', 'taken')"></i>
                            </th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="compOffLists?.length > 0">
                            <tr
                                *ngFor="let item of compOffLists | customSort:directionValue:sortValue | paginate: { itemsPerPage: tableSize, currentPage: page,totalItems: count }; let i=index">
                                <!-- <td>
                                    <input type="checkbox" [(ngModel)]="item.selected">
                                </td> -->
                                <td>{{getContinuousIndex(i)}}</td>
                                <td>{{ item.employee_name }}</td>
                                <td>{{ item.reporting_manager_name }}</td>
                                <td>{{ item.from_date | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ item.to_date | date: 'dd/MM/yyyy' }}</td>
                                <td *ngIf="item.status === 'Pending'"><span style="background: #ffface; color: #978419;"
                                        class="p-2 rounded">PENDING</span></td>
                                <td *ngIf="item.status === 'approved'"><span
                                        style="background: #dcfce7; color: #15803d;" class="p-2 rounded">APPROVED</span>
                                </td>
                                <td *ngIf="item.status === 'rejected'"><span style="background:#fee2e2; color: #b91c1c;"
                                        class="p-2 rounded">REJECTED</span></td>
                                <!-- <td (click)="addOrViewRequest(true,item)"><span>{{item.status}}</span></td> -->
                                <td>{{ item.credited || 0 }}</td>
                                <td>{{ item.number_of_leaves_applying_for }}</td>
                                <td>{{ item.message }}</td>
                                <td>
                                    <span>
                                        <img src="../../../../assets/images/view.svg" class="icon-image"
                                            container="body" ngbTooltip="View" (click)="addOrViewRequest(true,item)" />
                                    </span>
                                    <!-- <span *ngIf="item.status!='Pending'">-</span> -->
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- No Records -->
        <div class="row mx-1 my-2 px-0" *ngIf="compOffLists?.length === 0">
            <app-generic-norecards></app-generic-norecards>
        </div>

        <!-- Pagination -->
        <div class="row mx-0 px-3" *ngIf="compOffLists?.length > 0">
            <div class="col-12 px-0">
                <div class="pagination-container p-0">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                    <div class="items-per-page-container">
                        <div>Items per page</div>
                        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)"
                            panelClass="paginationPanelClass" class="page-size">
                            <mat-option *ngFor="let size of tableSizes" [value]="size">{{ size }}</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>