<div class="p-2" (click)="$event.stopPropagation()">
  <div class="position-relative mb-2">
    <i class="bi position-absolute end-0 top-50 translate-middle-y me-2 text-secondary"
       [ngClass]="filterSearchText ? 'bi-x-lg' : 'bi-search'"
       style="cursor: pointer;"
       (click)="clearSearch()">
    </i>
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      [(ngModel)]="filterSearchText"
      (ngModelChange)="filterOptions()"
    />
  </div>
<div class="custom-mat-select-list-style">
<mat-selection-list class="dynamic-mat-selection">
    <mat-list-option
      *ngFor="let option of displayOptions"
      [value]="option.id"
      [selected]="isSelected(option.id)"
      (click)="toggleSelection(option.id)">
      {{ option.name }}
    </mat-list-option>
  </mat-selection-list>
  </div>
</div>
