::ng-deep .mat-list-base .mat-list-item, 
::ng-deep .mat-list-base .mat-list-option {
  height: 25px !important;
  font-size: 14px !important;
  zoom:95%;
}
.mat-selection-list.mat-selection-list.mat-list-base{
  height: fit-content;
  max-height: 200px;
  overflow-y: auto;
}
