<div class="container-wrapper settings-main-content px-0">
  <section class="settings-form-bg px-0">
    <div class="row mx-0 my-3 px-2">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
  <section class="settings-table-bg" >
    <div class="row mx-0 px-0" *ngIf="!isEditItem && job_id">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 my-2 pl-0 pr-5 text-end">
          <button mat-raised-button class="proceedbtn mat-btn-s" type="button" (click)="editJobKPIDetails()" *ngIf="user_role_name !='Admin' && accessPermissions[0]?.update || user_role_name === 'Admin'">Edit</button>
        </div>
      </div>
      <form [formGroup]="jobKPIFormGroup">
      <div class="row mx-0 my-1 px-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0 table-responsive table-responsive-sm table-responsive-md" *ngIf="employeeFormArray.controls.length >= 1">
<table class="table table-list employee-details-table">
   <thead>
        <tr>
            <th>Staff</th>
            <th style="width: 25% !important;">Estimated Time</th>
            <th style="width: 30% !important;">Mrp</th>
            <th style="width: 30% !important;">Crp</th>
            <th *ngIf="isEditItem" style="width: 5% !important;">Action</th>
        </tr>
    </thead>
    <!-- <tbody>
      <tr>
        <td><div class="row">
        <div class="col-12">-</div>
      </div></td>
        <td><div class="row d-flex">
<div class="col-6">-</div>
<div class="col-6">-</div>
        </div>
      <div class="row">
        <div class="col-12">-</div>
      </div></td>
      <td><div class="row d-flex">
<div class="col-4">-</div>
<div class="col-8">-</div>
        </div>
      </td>
      <td><div class="row d-flex">
<div class="col-4">-</div>
<div class="col-8">-</div>
        </div></td>
        <td>-</td>
      </tr>
    </tbody> -->
    <tbody formArrayName="data">
        <tr *ngFor="let emp of currentPageRows; let i = index" [formGroupName]="(currentPage - 1) * pageSize + i">
          <td class="align-content-center">
            <label for=""><span><p class="emp-name-text">{{getEmployeeName(emp?.get('employee')?.value) | titlecase}}</p>
          </span></label></td>
          <td class="align-content-center estimated-time">
            <div class="kpi-estimated-time-content">
                          <mat-form-field appearance="outline" class="custom-mat-form-field px-0">
                                <mat-label>Processing Time</mat-label>
                                <input matInput type="text" placeholder="00:00" maxlength="6" formControlName="processing_time" autocomplete="off" (input)="formatProcessingTime($event,i)" (focusout)="defaultProcessingTime($event,i)" >
                              </mat-form-field>
                        <mat-form-field appearance="outline" class="custom-mat-form-field px-0">
                                <mat-label>Review Time</mat-label>
                                <input matInput type="text" placeholder="000:00"  maxlength="6" formControlName="review_time" autocomplete="off" (input)="formatReviewingTime($event,i)" (focusout)="defaultReviewTime($event,i)" >
                              </mat-form-field> 
            </div>
                <!-- <input  type="file" accept=".xlsx,.xls,.doc,.docx,.pdf" formControlName="budget_file" #fileInput
                            (change)="onBudgetFileSelected($event,i)" hidden>
                          <div class="image-container d-flex justify-content-between align-items-center"
                            style="padding: 1px 15px;"
                            [ngClass]="{'is-invalid': emp?.get('budget_file')?.touched && emp?.get('budget_file')?.invalid}">
                            <mat-label *ngIf="selectedBudgetFile[((currentPage - 1) * pageSize + i)] && selectedBudgetFile[((currentPage - 1) * pageSize + i)]?.name" [ngbTooltip]="selectedBudgetFile[((currentPage - 1) * pageSize + i)]?.name" ><a type="button" (click)="openFileInNewTab('budget',i)">{{selectedBudgetFile[((currentPage - 1) * pageSize + i)]?.name}}</a></mat-label>
                            <mat-label *ngIf="!selectedBudgetFile[((currentPage - 1) * pageSize + i)] && !selectedBudgetFile[((currentPage - 1) * pageSize + i)]?.name">Upload Budget File</mat-label>
                            <button type="button" mat-icon-button (click)="triggerFileInput(i)">
                              <i matTooltip="{{selectedBudgetFile[((currentPage - 1) * pageSize + i)] && selectedBudgetFile[((currentPage - 1) * pageSize + i)]?.name ? 'Edit' : 'Upload Budget File'}}"
                                class="{{selectedBudgetFile[((currentPage - 1) * pageSize + i)] && selectedBudgetFile[((currentPage - 1) * pageSize + i)]?.name ? 'bi bi-pencil-fill' : 'bi bi-file-earmark-spreadsheet'}}"
                                id="edit-or-upload-icon"></i>
                            </button>
                          </div>
                          <div *ngIf="emp?.get('budget_file')?.touched && emp?.get('budget_file')?.invalid"
                            style="font-size: 11px;padding-left: 10px;color:#f44336">
                            <span *ngIf="emp?.get('budget_file')?.errors?.['accept']">Invalid file type. Please upload .xlsx, .xls, .doc, .docx, .pdf file.</span>
                            <span *ngIf="emp?.get('budget_file')?.errors?.['maxSize']">File size exceeds 10MB.</span>
                          </div>                 -->

                 <!-- DROP ZONE WRAPPER -->
                  <!-- <div class="drop-zone"
                       [attr.data-index]="i"
                       [class.disabled]="!isEditItem"
                      (drop)="onBudgetFileDropped($event, i)"
                      (dragover)="onDragOver($event)"
                      (dragleave)="onDragLeave($event)"
                      [class.drag-active]="isDragActive[i]"> -->
                    <!-- <div class="drop-zone"
                      [attr.data-type]="'budget'"
                      [attr.data-row]="((currentPage - 1) * pageSize + i)"
                      [attr.data-col]="0"
                      [class.disabled]="!isEditItem"
                      (dragenter)="handleDragEnter($event, ((currentPage - 1) * pageSize + i), 0)"
                      (dragover)="handleDragOver($event)"
                      (dragleave)="handleDragLeave($event, ((currentPage - 1) * pageSize + i), 0)"
                      (drop)="handleFileDrop($event, ((currentPage - 1) * pageSize + i), 0)"
                      [class.drag-active]="isDragActive[((currentPage - 1) * pageSize + i)]?.[0]"> -->
                      <div class="drop-zone"
     data-type="budget"
     [attr.data-row]="((currentPage - 1) * pageSize + i)"
     data-col="0"
     [class.disabled]="!isEditItem"
     (drop)="onFileDropped($event)"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
      [class.drag-active]="isDragActive['budget']?.[((currentPage - 1) * pageSize + i)]?.[0]">


                      <input  type="file" accept=".xlsx,.xls,.doc,.docx,.pdf"
                              formControlName="budget_file" #fileInput
                              (change)="onBudgetFileSelected($event,i)" hidden>

                      <div class="image-container d-flex justify-content-between align-items-center"
                          style="padding: 1px 15px;"
                          [ngClass]="{'is-invalid': emp?.get('budget_file')?.touched && emp?.get('budget_file')?.invalid}">
                          
                          <mat-label *ngIf="selectedBudgetFile[(currentPage - 1) * pageSize + i]?.name"
                                    [ngbTooltip]="selectedBudgetFile[(currentPage - 1) * pageSize + i]?.name">
                              <a type="button" (click)="openFileInNewTab('budget',i)">
                                  {{ selectedBudgetFile[(currentPage - 1) * pageSize + i]?.name }}
                              </a>
                          </mat-label>

                          <mat-label *ngIf="!selectedBudgetFile[(currentPage - 1) * pageSize + i]?.name">
                              Upload Budget File
                          </mat-label>

                          <button type="button" mat-icon-button (click)="triggerFileInput(i)">
                              <i matTooltip="{{selectedBudgetFile[(currentPage - 1) * pageSize + i]?.name ? 'Edit' : 'Upload Budget File'}}"
                                class="{{selectedBudgetFile[(currentPage - 1) * pageSize + i]?.name ? 'bi bi-pencil-fill' : 'bi bi-file-earmark-spreadsheet'}}">
                              </i>
                          </button>
                          <button mat-icon-button
                                *ngIf="selectedBudgetFile[(currentPage - 1) * pageSize + i]"
                                (click)="removeFile('budget', (currentPage - 1) * pageSize + i)">
                            <mat-icon>close</mat-icon>
                          </button>
                          <!-- <button type="button" mat-icon-button *ngIf="selectedBudgetFile[(currentPage - 1) * pageSize + i]?.name" (click)="removeImage(i)">
                            <mat-icon>close</mat-icon>
                          </button> -->
                      </div>
                  </div>
         
            </td>
                    <td>
              <ng-container formArrayName="details">
              <ng-container *ngFor="let mrpCrpitem of mrpDetails(((currentPage - 1) * pageSize + i)).controls; let j = index" [formGroupName]="j" class="border-bottom-1">
 <div class="mrp-content">
                        <mat-form-field appearance="outline" class="custom-mat-form-field">
                        <mat-label>MRP {{ j + 1 }}</mat-label>
                        <input matInput type="text" pattern="[0-9]*"  placeholder="MRP {{ j + 1 }}" formControlName="mrp" [maxlength]="3" [minlength]="1" autocomplete="off" (focusout)="setDefaultValueIfEmpty($event, ((currentPage - 1) * pageSize + i), j, 'mrp')" (keypress)="validateKeyPress($event)">
                       
                      </mat-form-field> 
                      <div class="mx-0 my-1 px-0 justify-content-center">
                      <!-- <div class="drop-zone"
  [attr.data-type]="'mrp'"
  [attr.data-row]="((currentPage - 1) * pageSize + i)"
  [attr.data-col]="j"
  [class.disabled]="!isEditItem"
  (dragenter)="handleDragEnter($event, ((currentPage - 1) * pageSize + i), j)"
  (dragover)="handleDragOver($event)"
  (dragleave)="handleDragLeave($event, ((currentPage - 1) * pageSize + i), j)"
  (drop)="handleFileDrop($event, ((currentPage - 1) * pageSize + i), j)"
  [class.drag-active]="isDragActive[((currentPage - 1) * pageSize + i)]?.[j]"> -->
<!-- <div class="mrp-drop-zone"
     [attr.data-row]="((currentPage - 1) * pageSize + i)"
     [attr.data-mrp]="j"
     [class.disabled]="!isEditItem"
     (drop)="onMrpFileDropped($event, ((currentPage - 1) * pageSize + i), j)"
     (dragover)="onMrpDragOver($event)"
     (dragleave)="onMrpDragLeave($event)"
     [class.drag-active]="isMrpDragActive[((currentPage - 1) * pageSize + i)]?.[j]"> -->
     <div class="drop-zone"
     data-type="mrp"
     [attr.data-row]="((currentPage - 1) * pageSize + i)"
     [attr.data-col]="j"
     [class.disabled]="!isEditItem"
     (drop)="onFileDropped($event)"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     [class.drag-active]="isDragActive['mrp']?.[((currentPage - 1) * pageSize + i)]?.[j]">

                        <input type="file" accept=".xlsx,.xls,.doc,.docx,.pdf" formControlName="mrpFile" #mrpfileInput
                        (change)="onMrpFileSelected($event,((currentPage - 1) * pageSize + i),j)" hidden [attr.data-row]="((currentPage - 1) * pageSize + i)" [attr.data-mrp]="j" [required]="mrpCrpitem?.get('mrp')?.value > 0 && !selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]">
                      <div class="image-container d-flex justify-content-between align-items-center"
                        style="padding: 1px 15px;"
                        [ngClass]="{'is-invalid': mrpCrpitem?.get('mrpFile')?.touched && mrpCrpitem?.get('mrpFile')?.invalid}">
                        <mat-label *ngIf="selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name" [ngbTooltip]="selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name" ><a type="button" (click)="openFileInNewTab('mrp',((currentPage - 1) * pageSize + i),j)">{{selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name}}</a></mat-label>
                        <mat-label *ngIf="!selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && !selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name" >Upload File</mat-label>
                        <button type="button" mat-icon-button (click)="triggerMrpFileInput(((currentPage - 1) * pageSize + i), j)">
                          <i matTooltip="{{selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name ? 'Edit' : 'Upload MRP File'}}"
                            class="{{selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name ? 'bi bi-pencil-fill' : 'bi bi-file-earmark-spreadsheet'}}"
                            id="edit-or-upload-icon"></i>
                        </button>
                       <button mat-icon-button
                              *ngIf="selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && selectedMrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name"
                              (click)="removeFile('mrp', ((currentPage - 1) * pageSize + i), j)">
                          <mat-icon>close</mat-icon>
                      </button>
                      </div>
                       </div>
                      <div *ngIf="mrpCrpitem?.get('mrpFile')?.touched && mrpCrpitem?.get('mrpFile')?.invalid"
                        style="font-size: 11px;padding-left: 10px;color:#f44336">
                        <span *ngIf="mrpCrpitem?.get('mrpFile')?.errors?.['accept']">Invalid file type. Please upload .xlsx, .xls, .doc, .docx, .pdf file.</span>
                        <span *ngIf="mrpCrpitem?.get('mrpFile')?.errors?.['maxSize']">File size exceeds 10MB.</span>
                        <span *ngIf="mrpCrpitem?.get('mrpFile')?.errors?.['required']">MRP File is required when MRP > 0.</span>  
                      </div>
                       </div>
                    </div>
                   
              </ng-container>

            </ng-container>
            <tfoot>
  <tr>
    <td><strong>Total MRP:</strong>&nbsp;{{getTotalMrpValue(i)}}</td></tr></tfoot>
            </td>
                    <td>
                <ng-container formArrayName="details">
              <ng-container *ngFor="let mrpCrpitem of mrpDetails(((currentPage - 1) * pageSize + i)).controls; let j = index" [formGroupName]="j" class="border-bottom-1">
 <div class="crp-content"> 
                      <mat-form-field appearance="outline" class="custom-mat-form-field">
                      <mat-label>CRP {{ j + 1 }}</mat-label>
                      <input matInput type="text" pattern="[0-9]*" placeholder="CRP {{ j + 1 }}" [min]="0" formControlName="crp" autocomplete="off" [maxlength]="3" [minlength]="1" (focusout)="setDefaultValueIfEmpty($event, ((currentPage - 1) * pageSize + i), j, 'crp')" (keypress)="validateKeyPress($event)">
                    </mat-form-field> 
                    <div class="mx-0 my-1 px-0 justify-content-center">
                      <!-- <div class="drop-zone"
  [attr.data-type]="'crp'"
  [attr.data-row]="((currentPage - 1) * pageSize + i)"
  [attr.data-col]="j"
  [class.disabled]="!isEditItem"
  (dragenter)="handleDragEnter($event, ((currentPage - 1) * pageSize + i), j)"
  (dragover)="handleDragOver($event)"
  (dragleave)="handleDragLeave($event, ((currentPage - 1) * pageSize + i), j)"
  (drop)="handleFileDrop($event, ((currentPage - 1) * pageSize + i), j)"
  [class.drag-active]="isDragActive[((currentPage - 1) * pageSize + i)]?.[j]"> -->
  <!-- <div class="crp-drop-zone"
     [attr.data-row]="((currentPage - 1) * pageSize + i)"
     [attr.data-crp]="j"
     [class.disabled]="!isEditItem"
     (drop)="onCrpFileDropped($event, ((currentPage - 1) * pageSize + i), j)"
     (dragover)="onCrpDragOver($event)"
     (dragleave)="onCrpDragLeave($event)"
     [class.drag-active]="isCrpDragActive[((currentPage - 1) * pageSize + i)]?.[j]"> -->
     <div class="drop-zone"
     data-type="crp"
     [attr.data-row]="((currentPage - 1) * pageSize + i)"
     [attr.data-col]="j"
     [class.disabled]="!isEditItem"
     (drop)="onFileDropped($event)"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     [class.drag-active]="isDragActive['crp']?.[((currentPage - 1) * pageSize + i)]?.[j]">

                        <input type="file" accept=".xlsx,.xls,.doc,.docx,.pdf" formControlName="crpFile" #crpfileInput
                        (change)="onCrpFileSelected($event,((currentPage - 1) * pageSize + i),j)" hidden [attr.data-row]="((currentPage - 1) * pageSize + i)" [attr.data-mrp]="j" [required]="mrpCrpitem?.get('crp')?.value > 0 && !selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]">
                        <div class="image-container d-flex justify-content-between align-items-center"
                          style="padding: 1px 15px;"
                          [ngClass]="{'is-invalid': mrpCrpitem?.get('crpFile')?.touched && mrpCrpitem?.get('crpFile')?.invalid}">
                          <mat-label *ngIf="selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name" [ngbTooltip]="selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name"><a type="button" (click)="openFileInNewTab('crp',((currentPage - 1) * pageSize + i),j)">{{selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name}}</a></mat-label>
                          <mat-label *ngIf="!selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && !selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name">Upload File</mat-label>
                          <button type="button" mat-icon-button (click)="triggerCrpFileInput(((currentPage - 1) * pageSize + i),j)">
                            <i matTooltip="{{selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name ? 'Edit' : 'Upload CRP File'}}"
                              class="{{selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name ? 'bi bi-pencil-fill' : 'bi bi-file-earmark-spreadsheet'}}"
                              id="edit-or-upload-icon"></i>
                          </button>
                          <button mat-icon-button *ngIf="selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j] && selectedCrpFile?.[((currentPage - 1) * pageSize + i)]?.[j]?.name"
                                  (click)="removeFile('crp', ((currentPage - 1) * pageSize + i), j)">
                              <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    <div *ngIf="mrpCrpitem?.get('crpFile')?.touched && mrpCrpitem?.get('crpFile')?.invalid"
                      style="font-size: 11px;padding-left: 10px;color:#f44336">
                      <span *ngIf="mrpCrpitem?.get('crpFile')?.errors?.['accept']">Invalid file type. Please upload .xlsx, .xls, .doc, .docx, .pdf file.</span>
                      <span *ngIf="mrpCrpitem?.get('crpFile')?.errors?.['maxSize']">File size exceeds 10MB.</span>
                     <span *ngIf="mrpCrpitem?.get('crpFile')?.errors?.['required']">
 CRP File is required when CRP > 0.
</span>  
                    </div>
                    
                  </div>
                  </div>
                  
              </ng-container>
            </ng-container>
            <tfoot>
  <tr>
    <td><strong>Total CRP:</strong>&nbsp;{{getTotalCrpValue(i)}}</td></tr></tfoot>
            </td>
                    <td *ngIf="isEditItem" class="align-content-center">
                                      <ng-container formArrayName="details">
              <ng-container *ngFor="let mrpCrpitem of mrpDetails(((currentPage - 1) * pageSize + i)).controls; let j = index" [formGroupName]="j" class="border-bottom-1">
 <div class="mrp-crp-action-content">
<img src="../../../../assets/images/Edit.svg" class="icon-image" type="button" container="body"
                          ngbTooltip="Edit"  *ngIf="mrpCrpitem?.get('mrp').disabled" (click)="editMrpCrpItem(((currentPage - 1) * pageSize + i),j)"/>
                          <img src="../../../../assets/images/tick.svg" class="icon-image" type="button" container="body"
                          ngbTooltip="Save" *ngIf="mrpCrpitem?.get('mrp').enabled" (click)="saveMrpCrpItem(((currentPage - 1) * pageSize + i),j)" />
                          <img  src="../../../../assets/images/Delete.svg" class="icon-image" type="button" container="body"
                          ngbTooltip="Delete"  (click)="deleteMrpCrpItem(((currentPage - 1) * pageSize + i),j)" *ngIf="mrpDetails(((currentPage - 1) * pageSize + i)).controls.length >= 2"/>
                    <img src="../../../../assets/images/addnew.svg" class="icon-image" type="button" container="body"
                ngbTooltip="add" (click)="addMrpCrpItem(((currentPage - 1) * pageSize + i))" *ngIf="j === mrpDetails(((currentPage - 1) * pageSize + i)).controls.length-1 && mrpDetails(((currentPage - 1) * pageSize + i)).controls.length < 5"/>
                        
 </div>         
             </ng-container>
            </ng-container>
            </td>
 
        </tr>
      </tbody>
</table>
        </div>
        </div>
        <div class="row mx-0 my-1 px-0" *ngIf="employeeFormArray.controls.length >= 1">
          <div class="col-lg-5 px-0">
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
            <mat-paginator [length]="employeeFormArray.length"
          [pageSize]="10"
          [pageIndex]="currentPage - 1"
          (page)="onPageChanged($event)">
        </mat-paginator>
          </div>
        </div>
    </form>
   
</section>
<div class="row mx-0 my-3 px-2" >
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 align-content-center px-0">
      <button mat-button class="cancel-button mat-btn-s" type="button"  (click)="backBtnFunc()">
          Back</button>
      <button mat-raised-button class="proceedbtn mat-btn-s" type="submit" (click)="saveJobKPIDetails()" *ngIf="isEditItem && job_id">Submit</button>
    </div>
        </div>
</div>
    </div>

            </section> 
</div>
