

<!-- <div class="wrapper">

  <div class="bottom-appbar">
    <div class="tabs">
      <div class="tab" routerLink="/dashboards" routerLinkActive="active">
        <div class="row"><i class="bi bi-speedometer2"></i></div>
        <span>Dashboard</span>
      </div>
      <div class="tab" routerLink="/project/list" routerLinkActive="active" *ngIf="config!='SUPER ADMIN'">
        <div class="row"><i class="bi bi-layers"></i></div>
        <span>Projects</span>
      </div>
      <div class="tab" routerLink="/myTimesheet/timesheet" routerLinkActive="active" *ngIf="config!='SUPER ADMIN'">
        <div class="row"><i class="bi bi-calendar4-week"></i></div>
        <span>Timesheets</span>
      </div>
      <div class="tab" routerLink="/organization/orgList" routerLinkActive="active" *ngIf="config==='SUPER ADMIN'">
        <div class="row"><i class="bi bi-bank2"></i></div>
        <span>Organizations</span>
      </div>
      <div class="tab" routerLink="/profile" routerLinkActive="active">
        <div class="row"><i class="bi bi-person"></i></div>
        <span>Profile</span>
      </div>
    </div>
  </div>

</div> -->
