<div class="container-wrapper settings-main-content px-0">
    <section class="settings-table-bg" >
        <div class="row mx-0 my-0 px-0 py-2">
          <div class="col-sm-12 col-md-4 col-lg-4 search-div px-0">
            <input type="search" (input)="filterSearch($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
              placeholder="Search by Job" aria-describedby="emailHelp" autocomplete="off">
            <i *ngIf="!term" class="bi bi-search" id="search-icon-tab"></i>
          </div>
        </div>
        <div class="row mx-0 my-2 px-0 table-wrapper">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0 ">
            <table class="table table table-hover table-list">
              <thead>
                <tr>
                  <th scope="col"> S.No</th>
                  <th scope="col">Job Id
                    <i *ngIf="!arrowState['job_number']" (click)="sort('ascending', 'job_number')" class="bi bi-arrow-down"></i>
                    <i *ngIf="arrowState['job_number']" (click)="sort('descending', 'job_number')" class="bi bi-arrow-up"></i>  
                  </th>
                  <th scope="col" class="name-col">Job
                    <i *ngIf="!arrowState['job_name']" (click)="sort('ascending', 'job_name')" class="bi bi-arrow-down"></i>
                    <i *ngIf="arrowState['job_name']" (click)="sort('descending', 'job_name')" class="bi bi-arrow-up"></i>  
                  </th>
                  <th scope="col"> Allocated On
                    <button
                    mat-icon-button
                    (click)="picker1.open()"
                    class="ms-1 btn-menu-trigger"
                    *ngIf="!dateRange.start">
                  <i class="bi bi-calendar"></i>

                </button>
                  <button mat-icon-button container="body"
                  ngbTooltip="Clear Job Allocation Date" placement="top"  *ngIf="dateRange.start" (click)="clearDateFilter()" class="ms-1 btn-menu-trigger">
                    <i class="bi bi-x-circle"></i>
                  </button>

                <mat-form-field class="opacity-0 position-absolute date-picker-input">
                      <mat-label>Choose a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker1">
                        <input
                          matStartDate
                          placeholder="Start date"
                          [(ngModel)]="dateRange.start"
                          (dateChange)="allocationStartDate($event)"
                        />
                        <input
                          matEndDate
                          placeholder="End date"
                          [(ngModel)]="dateRange.end"
                          (dateChange)="allocationEndDate($event)"
                        />
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker1 [dateClass]="dateClass"></mat-date-range-picker>
                    </mat-form-field>

                  </th>
                  <th scope="col">Employee 
                    <i *ngIf="!arrowState['employee_name']" (click)="sort('ascending', 'employee_name')" class="bi bi-arrow-down"></i>
                    <i *ngIf="arrowState['employee_name']" (click)="sort('descending', 'employee_name')" class="bi bi-arrow-up"></i>  
                    <button mat-icon-button [matMenuTriggerFor]="employeesFilterMenu" (menuOpened)="openFilter(employeeFilter)"
                  [ngClass]="filters.employees.length>=1 ? 'filterdColumn':''">
                  <span *ngIf="filters.employees.length>=1">{{filters.employees.length.toString().padStart(2,
                    '0')}}</span>
                  <i class="bi-funnel" *ngIf="filters.employees.length===0"></i>
                </button>

                    <mat-menu #employeesFilterMenu="matMenu">
                      <app-generic-table-filter
                        #employeeFilter [fetchOptions]="fetchEmployees"
                        [(selectedOptions)]="filters.employees"
                        (selectedOptionsChange)="filterData()"
                      ></app-generic-table-filter>
                    </mat-menu>
                  </th>
                  <th scope="col">Status 
                    <i *ngIf="!arrowState['status']" (click)="sort('ascending', 'status')" class="bi bi-arrow-down"></i>
                    <i *ngIf="arrowState['status']" (click)="sort('descending', 'status')" class="bi bi-arrow-up"></i>  
                    <button mat-icon-button [matMenuTriggerFor]="statusFilterMenu" (menuOpened)="openFilter(jobStatusFilter)"
                  [ngClass]="filters.status.length>=1 ? 'filterdColumn':''">
                  <span *ngIf="filters.status.length>=1">{{filters.status.length.toString().padStart(2, '0')}}</span>
                  <i class="bi-funnel" *ngIf="filters.status.length===0"></i>
                </button>
  
                    <mat-menu #statusFilterMenu="matMenu">
                      <app-generic-table-filter
                        #jobStatusFilter [fetchOptions]="fetchJobStatus"
                        [(selectedOptions)]="filters.status"
                        (selectedOptionsChange)="filterData()"
                      ></app-generic-table-filter>
                    </mat-menu>
                  </th>
                  <th scope="col">Status Date
                    <button
                    mat-icon-button
                    (click)="setDateFilterColumn($event); datepicker.open()"
                    class="ms-1 btn-menu-trigger"
                    *ngIf="!statusDateFilterValue">
                  <i class="bi bi-calendar"></i>
                </button>
                 <button mat-icon-button  *ngIf="statusDateFilterValue" (click)="clearStatusDateFilter()" class="ms-1 btn-menu-trigger">
                      <i class="bi bi-x-circle"></i>
                 </button>
                <mat-form-field class="opacity-0 position-absolute date-picker-input">
                  <mat-label>Choose a date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="datepicker"
                    [(ngModel)]="statusDateFilterValue"
                    (dateChange)="onStatusDateSelected($event)"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker #datepicker [dateClass]="dateClass"></mat-datepicker>
                </mat-form-field>
                  </th>
                  <!-- <th scope="col">Action </th> -->
                </tr>
              </thead>
              <tbody>
    
                <ng-container *ngIf="(filteredList) as result">
                  <tr *ngFor='let item of result | customSort:directionValue:sortValue
                             |paginate : {
                                      itemsPerPage: tableSize,
                                      currentPage: page,
                                      totalItems: count
                                    }; let i=index'>
                                 
                            <td>{{getContinuousIndex(i)}}</td>
                            <td>{{item.job_number}}</td>
                            <td>{{item.job_name}}</td>
                            <td>{{item.job_allocation_date | date: 'dd/MM/yyyy'}}</td>
                            <td>{{getEmployeeName(item?.employees) || '-'}}</td>
                            <td>{{item.job_status_name}}</td>
                            <td [ngStyle]="{ color: item?.status_date_color ? item?.status_date_color : 'black' }">{{item.job_status_date | date: 'dd/MM/yyyy'}}</td>
                    <!-- <td>
                      <ng-container>
                        <img src="../../../../assets/images/Edit.svg" class="icon-image" type="button" container="body"
                          ngbTooltip="Edit" (click)="edit(item)" />
                        <img src="../../../../assets/images/Delete.svg" class="icon-image" type="button" container="body"
                          ngbTooltip="Delete" (click)="delete(item.id)" />
                        </ng-container>
                    </td> -->
    
                  </tr>
    
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12" *ngIf="filteredList.length === 0">
          <app-generic-norecards></app-generic-norecards>
        </div>
      </section>
      <div class="row mx-0 my-2 px-2" >
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0" *ngIf="filteredList.length > 0">
          <div class="pagination-container p-0 pt-2">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
            <div class="items-per-page-container">
              <div>Items per page</div>
              <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10"
                class="page-size">
                <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
  </div>