<div class="container-wrapper settings-main-content px-0">
    <section class="settings-form-bg">
      <div class="row mx-0 px-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
            <form [formGroup]="employeeFormGroup">
                <div class="row mx-0 my-0 px-2">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 px-0">
                    <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                        <mat-label>Employee Number <b class="r-star">*</b></mat-label>
                        <input matInput type="text" placeholder="Enter Employee Number" formControlName="employee_number" autocomplete="off" readonly>
                        <mat-error *ngIf="f['employee_number']?.invalid && f['employee_number']?.touched || f['employee_number']?.dirty">
                          <span *ngIf="f['employee_number'].errors?.['required']">Employee Number is required</span>
                        </mat-error>
                      </mat-form-field>  
                    </div>
<!-- First name -->
<div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 no-padding pl-5 pr-0">

<mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
    <mat-label>First Name <b class="r-star">*</b></mat-label>
    <input matInput placeholder="Enter first name" appAlphabetOnly formControlName="first_name" autocomplete="off"
    pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
    <mat-error *ngIf="f['first_name']?.invalid && f['first_name']?.touched || f['first_name']?.dirty">
        <span  *ngIf="f['first_name']?.errors?.['required']">First Name is required
        </span>
        <!-- <span  *ngIf="f['first_name']?.errors?.['pattern']">
            Invalid name. Only letters are allowed, and the name must start with a letter.
        </span> -->
        <span 
            *ngIf="f['first_name']?.errors?.['maxlength']">
            First Name cannot exceed more than 50 characters.
        </span>
        <!-- <span 
            *ngIf="f['contact_person_name'].invalid && f['contact_person_name'].hasError('pattern')">
            Invalid Contact person name
        </span>
        <span 
            *ngIf="f['contact_person_name'].errors?.['required'] && f['contact_person_name'].errors?.['maxlength']">
            Contact person name cannot exceed more than 50 characters.
        </span> -->
    </mat-error>
</mat-form-field>

</div>
<!-- Last name -->
<div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 px-0">

<mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
    <mat-label>Last Name <b class="r-star">*</b></mat-label>
    <input matInput placeholder="Enter last name" appAlphabetOnly formControlName="last_name" autocomplete="off"
    pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
    <mat-error *ngIf="f['last_name']?.invalid && f['last_name']?.touched || f['last_name']?.dirty">
        <span  *ngIf="f['last_name']?.errors?.['required']">Last Name is required
        </span>
        <!-- <span  *ngIf="f['last_name']?.errors?.['pattern']">
            Invalid name. Only letters are allowed, and the name must start with a letter.
        </span> -->
        <span 
            *ngIf="f['last_name']?.errors?.['maxlength']">
            Last Name cannot exceed more than 50 characters.
        </span>
    </mat-error>
</mat-form-field>

</div>

<!-- Email Address -->
<div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 px-0">
<mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
    <mat-label>Email Id <b class="r-star">*</b></mat-label>
    <input matInput type="email" placeholder="Enter email" formControlName="email"
        autocomplete="off" oninput="this.value = this.value.toLowerCase()">
        <mat-error *ngIf="f['email']?.invalid && f['email']?.touched || f['email']?.dirty">
            <span  *ngIf="f['email']?.errors?.['required']">Email is required</span>
            <span  *ngIf="f['email']?.errors?.['pattern']">Email Id is invalid.</span>
        </mat-error>
</mat-form-field>

</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 no-padding pl-5 pr-0">
    <mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
        <mat-label>Date of Joining <b class="r-star">*</b></mat-label>
        <input matInput [matDatepicker]="picker1" placeholder="Enter start date"
            formControlName="date_joined" autocomplete="off" (dateInput)="joiningDateFun($event)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
             <mat-datepicker #picker1></mat-datepicker>
             <mat-error *ngIf="f['date_joined']?.invalid && f['date_joined']?.touched || f['date_joined']?.dirty">
                <span  *ngIf="f['date_joined']?.errors?.['required']">Date of Joining is required</span>
          </mat-error>
    </mat-form-field>
  
</div>
<!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 px-0">
    <mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
        <mat-label>Exit Date <b class="r-star">*</b></mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Enter start date" readonly
            formControlName="exit_date" autocomplete="off" (dateInput)="joiningDateFun($event)">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
             <mat-datepicker #picker2></mat-datepicker>
             <mat-error *ngIf="f['exit_date']?.invalid && f['exit_date']?.touched || f['exit_date']?.dirty">
                <span  *ngIf="f['exit_date']?.errors?.['required']">Exit date is required</span>
          </mat-error>
    </mat-form-field>
  
</div> -->
<div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 px-0">
    <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
        <mat-label>Select Role <b class="r-star">*</b></mat-label>
        <mat-select formControlName="designation" autocomplete="off"
                placeholder="Select" panelClass="custom-select-panel"
                [disableOptionCentering]="true" (selectionChange)="getUserRoleBasedDesignation($event)">
                <div class="mat-select-search-wrapper d-flex">
                    <input matInput [(ngModel)]="searchRoleText" autofocus [ngModelOptions]="{standalone: true}" placeholder="Search Role" class="mat-select-search">
                    <mat-icon class="search-icon" *ngIf="!searchRoleText">search</mat-icon>
                    <mat-icon class="search-icon" *ngIf="searchRoleText" type="button" (click)="clearSearch('role')">close</mat-icon>
                  </div>
                <mat-option *ngFor="let item of filteredUserRoleList()" [value]="item?.id">
                    {{item?.designation_name}}
                </mat-option>
        </mat-select>
        <mat-error *ngIf="f['designation']?.invalid && f['designation']?.touched || f['role']?.dirty">
            <span  *ngIf="f['designation']?.errors?.['required']">Role is required</span>
      </mat-error>
    </mat-form-field>

</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 px-0">
    <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
        <mat-label>Select Designation <b class="r-star">*</b></mat-label>
        <mat-select formControlName="sub_designation" autocomplete="off"
                placeholder="Select" panelClass="custom-select-panel"
                [disableOptionCentering]="true" [disabled]="!employeeFormGroup?.get('designation')?.value">
                <div class="mat-select-search-wrapper d-flex">
                    <input matInput [(ngModel)]="searchDesignationText" autofocus [ngModelOptions]="{standalone: true}" placeholder="Search Designation" class="mat-select-search">
                    <mat-icon class="search-icon" *ngIf="!searchDesignationText">search</mat-icon>
                    <mat-icon class="search-icon" *ngIf="searchDesignationText" type="button" (click)="clearSearch('des')">close</mat-icon>
                  </div>
                <mat-option *ngFor="let item of filteredDesignationList()" [value]="item?.id">
                    {{item.sub_designation_name}}
                </mat-option>
        </mat-select>
        <mat-error *ngIf="f['sub_designation']?.invalid && f['sub_designation']?.touched || f['sub_designation']?.dirty">
            <span  *ngIf="f['sub_designation']?.errors?.['required']">Designation is required</span>
      </mat-error>
    </mat-form-field>
 
</div>

<div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 no-padding pl-5 pr-0 ">
    <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
        <mat-label>Select Reporting Manager <b class="r-star">*</b></mat-label>
        <mat-select formControlName="reporting_manager_id" autocomplete="off"
                placeholder="Select" panelClass="custom-select-panel"
                [disableOptionCentering]="true">
                <div class="mat-select-search-wrapper d-flex">
                    <input matInput [(ngModel)]="searchReportingManagerText" autofocus [ngModelOptions]="{standalone: true}" placeholder="Search Reporting Manager" class="mat-select-search">
                    <mat-icon class="search-icon" *ngIf="!searchReportingManagerText">search</mat-icon>
                    <mat-icon class="search-icon" *ngIf="searchReportingManagerText" type="button" (click)="clearSearch('rpm')">close</mat-icon>
                  </div>
                <mat-option *ngFor="let rmId of filteredReportingManagerList()" [value]="rmId?.user_id">
                    {{rmId?.first_name + rmId?.last_name || rmId?.user__full_name}}
                </mat-option>
        </mat-select>
        <mat-error *ngIf="f['reporting_manager_id']?.invalid && f['reporting_manager_id']?.touched || f['reporting_manager_id']?.dirty">
            <span  *ngIf="f['reporting_manager_id']?.errors?.['required']">Reporting Manager is required</span>
      </mat-error>
    </mat-form-field>

</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-4 my-1 px-0">
    <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
        <mat-label>Employee Status <b class="r-star">*</b></mat-label>
        <mat-select formControlName="is_active" autocomplete="off"
                placeholder="Select" panelClass="custom-select-panel"
                >
                <mat-option *ngFor="let status of isActivelist" [value]="status?.is_active">
                    {{status?.name}}
                </mat-option>
        </mat-select>
        <mat-error *ngIf="f['is_active']?.invalid && f['status']?.touched || f['is_active']?.dirty">
            <span  *ngIf="f['is_active']?.errors?.['required']">Employee Status is required</span>
      </mat-error>
    </mat-form-field>

</div>
</div>
<div class="row mx-0 my-2 px-2">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 align-content-center">
        <button mat-button class="cancel-button mat-btn-s" type="button" (click)="backBtnFunc()" >
            Back</button>
        <button mat-raised-button class="proceedbtn mat-btn-s" type="submit" (click)="saveEmployeeDetails()"><span
            *ngIf="!isEditItem">Submit</span><span *ngIf="isEditItem" >Update</span></button>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-3"></div>
      <div  *ngIf="userRole !='Admin' && accessPermissions[0]?.delete || userRole === 'Admin'"
        class="col-12 col-sm-12 col-md-6 col-lg-3 justify-content-end text-end align-content-end">
        <button mat-button class="mat-btn-s delete-item-button" type="button" *ngIf="isEditItem" (click)="deleteEmployee()">
          Delete</button>
      </div>
</div>
            </form>
        </div>
        </div>
    </section>
</div>