::ng-deep .mat-form-field-infix{
    padding: 0.5em 0 !important;
    padding-bottom: 1em !important;
}
::ng-deep .mat-form-field-wrapper{
    padding: 15px 0 !important;
}
.no-padding-bottom ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
.file{
    border: 1px solid #ebedef;
    padding: 5px;
    border-radius: 5px;
}
.is-invalid{
    border: 2px solid #f44336 !important; 
}

::ng-deep .image-container mat-label{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.over-floww {
    display: inline-block;  
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .cancel-button,.proceedbtn{
    height: 36px !important;
    align-self: center !important;
  }

  .policy-drop-zone {
    border: 2px dashed #ccc;
    border-radius: 6px;
    // padding: 6px;
    transition: border-color .25s, background-color .25s;
    }

    .policy-drop-zone.drag-active {
    border-color: #3f51b5;
    background-color: #eef2ff;
    }

    .policy-drop-zone.disabled {
    pointer-events: none;
    opacity: 0.6;
    }