::ng-deep .mat-form-field-infix {
  padding: 0.5em 0 !important;
  padding-bottom: 1em !important;
}
::ng-deep .mat-form-field-wrapper {
  padding: 0px 0 !important;
}
.no-padding-bottom ::ng-deep .mat-form-field-wrapper {
  padding: 0 !important;
}
.settings-table-bg{
    max-height: 75vh !important;
}
.table-wrapper{
    max-height: 55vh !important;
    overflow-x: auto;
    margin-bottom: 20px;
}
.mat-select-search-wrapper {
    padding: 8px;
    background-color: #fff;
  }
  
  .mat-select-search {
    width: 100%;
  }
  
  .custom-select-panel {
    max-height: 300px; /* Set a max height for the dropdown */
    overflow-y: auto; /* Make sure dropdown scrolls if it overflows */
  }
  .search-icon{
    font-size:x-large;
    color: #ccc;
  }
  button.proceedbtn:disabled{
    color: #fff;
  }
  mat-form-field .mat-icon-button {
    height: 24px;
    width: 24px;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix{
    top: .5em !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%) !important;
}

::ng-deep .table-master-checkbox .mat-checkbox-frame{
    border-color: #fff !important;
  }
  ::ng-deep .table-master-checkbox.mat-checkbox-checked .mat-checkbox-background,
  ::ng-deep .table-master-checkbox.mat-checkbox-indeterminate .mat-checkbox-background {
    border: #fff solid;
  }

  ::ng-deep .client-dropdown .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}
::ng-deep .client-dropdown .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 .75em 0 .75em;
  margin-top: 0em;
  position: relative;
}
::ng-deep .client-dropdown .mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0.60em !important;
}