.settings-table-bg{
    max-height: max-content !important;
    margin: 0;
    padding: 0;
}
.table-wrapper{
    max-height: max-content !important;
    overflow-x: auto;
    margin-bottom: 20px;
}
.proceedbtn{
margin-right: 10px;
}
::ng-deep .table-master-checkbox .mat-checkbox-frame{
    border-color: #fff !important;
  }
  ::ng-deep .table-master-checkbox.mat-checkbox-checked .mat-checkbox-background,
  ::ng-deep .table-master-checkbox.mat-checkbox-indeterminate .mat-checkbox-background {
    border: #fff solid;
  }