<div class="row mx-0 px-0 jobs-tabs">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" [(selectedIndex)]="selectedIndex">
                <mat-tab label="Job Details">
                    <app-create-update-job *ngIf="selectedIndex===0" (isEmployeeAdded)="isEmployeeAssigned($event)"></app-create-update-job>
                </mat-tab>
                <mat-tab  label="KPI" *ngIf="hasEmployees">
                    <app-job-kpi *ngIf="selectedIndex===1"></app-job-kpi>
                </mat-tab>
        </mat-tab-group>
    </div>
</div>