.isActive{
    background-color: #0F5C98 !important;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
.tab-button-content{
    background-color: #fff;
    width: 75px;
    outline: none;
    border: none;
    // height: 30px;
    // line-height: 30px;
}
.mat-btn-s{
    margin: 0px 5px;

}
.download-btn{
    min-width: 45px !important;
    background-color: #fff !important;
    color: #000;
    // height: 30px;
    // line-height: 30px;
}
.settings-table-bg{
    max-height: 75vh !important;
}
.table-wrapper{
    max-height: 55vh !important;
    overflow-x: auto;
    margin-bottom: 20px;
}
.download-icons{
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
  ::ng-deep .downloads .mat-mini-fab .mat-button-wrapper {
    padding: 0px !important;
  }
  ::ng-deep .downloads .mat-mini-fab{
    line-height: 0px !important;
  }