

<!-- Month Picker -->
<app-quarter-month-year-picker *ngIf="mode==='Monthly'"
  [mode]="'Monthly'"
  [control]="monthControl"
  [defaultSelectPreviousMonth]="defaultSelection && isInitialLoad"
  (valueChange)="onMonthChange($event)" [resetOnPeriodicityChange]="resetOnPeriodicityChange">
</app-quarter-month-year-picker>

<!-- Quarter Picker -->
<app-quarter-month-year-picker  *ngIf="mode==='Quarterly'"
  [mode]="'Quarterly'"
  [control]="quarterControl"
  (valueChange)="onQuarterChange($event)">
</app-quarter-month-year-picker>
<!-- Year Picker -->
<app-quarter-month-year-picker  *ngIf="mode==='Yearly'"
  [mode]="'Yearly'"
  [control]="yearControl"
  (valueChange)="onYearChange($event)">
</app-quarter-month-year-picker>

