// ::ng-deep .custom-details-dialog{
//     justify-content: center !important;
// }
// ::ng-deep .mat-dialog-container {
//     width: 60% !important;
//     padding: 10px !important;
//     height: 90vh !important
// }
// .view-leave-request .label-name{
//     font-size: 17px !important;
//     margin-bottom: 8px !important;
//     color: rgb(110, 109, 109) !important;
// }
// @media screen and (max-width: 991px) {
//   ::ng-deep .mat-dialog-container {
//     width: 90% !important;
//     height: 80vh !important
//   }
// }

.view-leave-request .label-name{
    font-size: 16px !important;
    margin-bottom: 5px !important;
    color: rgb(83, 83, 83);
}
.view-leave-request p{
    font-size: 17px !important;
}