::ng-deep .mat-form-field-infix{
    padding: 0.5em 0 !important;
    padding-bottom: 1em !important;
}
::ng-deep .mat-form-field-wrapper{
    padding: 8px 0 !important;
}
.bg-accrual-content{
    padding: 15px 0px;
    background: #FBFBFB !important;
    border-radius: 8px;
    min-height: 100px;
    max-height: max-content;
}
.bg-prorate-content{
    padding: 15px 0px;
    background: #fff;
    border-radius: 8px;
    min-height: 100px;
    max-height: max-content;
}
.bg-carry-forward-content{
    padding: 15px 10px;
    background: #FBFBFB;
    border-radius: 8px;
    min-height: 100px;
    max-height: max-content;
}