<div class="container-wrapper settings-main-content px-0">
  <section class="settings-form-bg new-ticket p-0">
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="bg-ticket-details">
      <div class="row mx-0 my-0 p-0 mb-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">

          <div class="row mx-0 my-0 p-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
              <p><b>Employee Details</b></p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 px-1">
              <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                <mat-label>Employee <b class="r-star">*</b></mat-label>
                <mat-select formControlName="employee_id" autocomplete="off" placeholder="select"
                  panelClass="custom-select-panel" [disableOptionCentering]="true"
                  (selectionChange)="onEmployeeChange($event)" (openedChange)="onDropdownOpened($event, 'employee')">
                  <div class="mat-select-search-wrapper d-flex">
                    <input matInput [(ngModel)]="dropdownState.employee.search"
                      (ngModelChange)="onSearch('employee', $event)" autofocus [ngModelOptions]="{standalone: true}"
                      placeholder="Search employee" class="mat-select-search">
                    <mat-icon class="search-icon" *ngIf="!dropdownState.employee.search">search</mat-icon>
                    <mat-icon class="search-icon" *ngIf="dropdownState.employee.search" type="button"
                      (click)="clearSearchDropD('employee')">close</mat-icon>
                  </div>
                  <mat-option hidden disabled></mat-option>
                  <mat-option *ngFor="let item of getOptionsWithSelectedOnTop('employee')" [value]="item?.user_id">
                    {{ item?.user__full_name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('employee_id', 'required')">
                  Employee is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 px-1">
               <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                <mat-label>Status</mat-label>
                <input matInput value="Open" disabled />
                <mat-hint>This ticket will be created as <b>Open</b> by default.</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 px-1">
              <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                <mat-label>Date</mat-label>
                <input matInput [value]="today | date:'yyyy-MM-dd'" disabled />
                <mat-hint>The current date will be used.</mat-hint>
              </mat-form-field>
            </div>
          </div>


          <div class="row mx-0 my-0 p-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
              <p><b>Issue Details</b></p>
            </div>
          </div>
          <div class="row mx-0 my-0 p-0">
            <div class="col-sm-12 col-md-6 col-lg-6 px-0">
              <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                <mat-label>Issue <b class="r-star">*</b></mat-label>
                <input matInput formControlName="issue_input" placeholder="Brief description of the issue"
                  autocomplete="off" maxlength="200" />
                <mat-error *ngIf="hasError('issue_input', 'required')">Issue is required</mat-error>
                <mat-error *ngIf="hasError('issue_input', 'minlength')">Issue must be at least 5 characters</mat-error>
                <mat-hint align="end" class="mt-2">
                  {{ getCharacterCount('issue_input') }}/200
                </mat-hint>
              </mat-form-field>
            </div>
          </div>


          <div class="row mx-0 my-0 p-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
              <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                <mat-label>Details <b class="r-star">*</b></mat-label>
                <textarea matInput formControlName="details" placeholder="Provide detailed information about the issue"
                  autocomplete="off" maxlength="2000" rows="4"></textarea>
                <mat-error *ngIf="hasError('details', 'required')">Details are required</mat-error>
                <mat-error *ngIf="hasError('details', 'minlength')">Details must be at least 10 characters</mat-error>
                <mat-hint align="end" class="mt-2">
                  {{ getCharacterCount('details') }}/2000
                </mat-hint>
              </mat-form-field>
            </div>
          </div>

          <!-- Attachment -->
          <div class="row mt-2 mx-0 my-0 p-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
              <p><b>Attachment</b></p>
            </div>
          </div>
          <div class="row mx-0 my-0 p-0">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 px-0">
              <input type="file" #fileInput hidden (change)="onFileSelected($event)"
                accept="image/*,.pdf,.doc,.docx,.txt" />
              <div class="image-container-ticket w-100 d-flex justify-content-between align-items-center"
                style="padding: 3px 15px" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)" [class.drag-active]="isDragOver">
                <span *ngIf="selectedFileName" class="ms-2">{{ selectedFileName }}</span>
                <mat-label *ngIf="!selectedFile">File Attachment (Optional)</mat-label>
                <div>
                  <button type="button" (click)="fileInput.click()" mat-icon-button>
                    <mat-icon [matTooltip]="selectedFile ? 'Edit' : 'Upload'" class="edit-or-upload-icon">
                      {{ selectedFile ? "edit" : "attach_file" }}
                    </mat-icon>
                  </button>
                  <button type="button" mat-icon-button *ngIf="selectedFile" (click)="removeFile()">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div class="row mx-0 my-2 p-2">
        <div class="action-btn d-flex gap-1 my-1 px-0">
          <button mat-button class="cancel-button mat-btn-s" type="button" (click)="cancel()">Back</button>
          <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Raise Ticket</button>
        </div>
      </div>
    </form>
  </section>
</div>