::ng-deep .mat-form-field-infix {
  padding: 0.5em 0 !important;
  padding-bottom: 1em !important;
}

::ng-deep .mat-form-field-wrapper {
  padding: 15px 0px !important;
}

.bg-ticket-details {
  padding: 15px;
  background: #fbfbfb !important;
  border-radius: 8px;
  max-height: max-content;
}

.image-container-ticket {
  border: 2px dashed #ccc;
  transition: 0.3s ease;
  border-radius: 5px;
}

.image-container-ticket.drag-active {
  border-color: #3f51b5;
  background-color: #f0f4ff;
}

.mat-select-search-wrapper {
  padding: 8px;
  background-color: #fff;
}

.mat-select-search {
  width: 100%;
}
.new-ticket form .custom-mat-form-field textarea {
  height: auto !important;
}
