.isActive {
  background-color: #0F5C98 !important;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.tab-button-content {
  background-color: #fff;
  width: auto;
  outline: none;
  border: none;
  // height: 30px;
  // line-height: 30px;
}
.mat-btn-s {
  margin: 0px 5px;
}
.download-btn {
  min-width: 45px !important;
  background-color: #fff !important;
  color: #000;
  // height: 30px;
  // line-height: 30px;
}
.settings-table-bg {
  max-height: 75vh !important;
}
.table-wrapper {
  max-height: 59vh !important;
  overflow-x: auto;
  margin-bottom: 20px;
}
::ng-deep .table-wrapper .mat-icon-button{
  width: 27px !important;
  height: 40px !important;
}
.jobs mat-select.mat-select-table {
  border: 1px solid #929292 !important;
  border-radius: 8px !important;
  padding: 4px 0px !important;
}
::ng-deep .jobs .input-css input.mat-input-element {
  margin-top: 0 !important;
  border-radius: 8px !important;
  border: 1px solid #929292 !important;
  padding: 4px 9px !important;
  width: 70px !important;
}
.status-col{
  width: 120px;
  min-width: 125px !important;
  text-align: center;
}


::ng-deep .custom-select-dropdown {
  margin-top: 27px !important;
  margin-bottom: 28px !important;
}
.close-btn{
  position: absolute;
  right: 8px;
  top: -5px;
}
.position-absolute.date-picker-input{
width: 0px !important;
}
.isFiltered {
  background-color: green;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 3px;
  background-color: rgb(223, 224, 225) !important;
  display: inline-block;
}
  .download-icons{
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .downloads{
    // gap: 10px;
    // display: flex;
    // padding-top: 8px;
  }
  ::ng-deep .downloads .mat-mini-fab .mat-button-wrapper {
    padding: 0px !important;
  }
  ::ng-deep .downloads .mat-mini-fab{
    line-height: 0px !important;
  }