::ng-deep .mat-form-field-infix{
  padding: 0.5em 0 !important;
  padding-bottom: 1em !important;
}
::ng-deep .mat-form-field-wrapper{
  padding: 15px 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: .25em !important;
}
// Rich editor css
.editor-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

.ql-toolbar.ql-snow {
  background-color: #f3f3f3;
  border-radius: 4px 4px 0 0;
}

.ql-container.ql-snow {
  border-radius: 0 0 4px 4px;
  min-height: 200px;
}

.settings-table-bg ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
background: #fff;
}