.isActive{
    background-color: #0F5C98 !important;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
.tab-button-content{
    background-color: #fff;
    width: 75px;
    outline: none;
    border: none;
    margin: 0px 5px;
}
.download-btn{
    min-width: 45px !important;
    height: 30px;
    line-height: 30px;
}
.mat-btn-s{
    margin: 0px 5px;
}
.settings-table-bg{
    max-height: 75vh !important;
}
.table-wrapper{
    max-height: 55vh !important;
    overflow-x: auto;
    margin-bottom: 20px;
}

.deactivate{
    background: #f9b115;
    color: #fff;
   }