<div class="container-wrapper settings-main-content px-0">
    <section class="settings-table-bg px-3" *ngIf="userRole !='Admin' && accessPermissions[0]?.view || userRole === 'Admin'">
        <div class="row mx-0 my-1 px-0 py-2">
            <div class="col-12 mt-2 col-sm-12 col-md-4 col-lg-3 search-div px-0">
              <input type="search" (input)="filterSearch($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                placeholder="Search by Employee" aria-describedby="emailHelp" autocomplete="off">
              <i *ngIf="!term" class="bi bi-search" id="search-icon-tab"></i>
            </div>
            <div class="col-12 mt-2 col-sm-12 col-md-4 col-lg-3"></div>
            <div class="col-12 mt-2 col-sm-12 col-md-4 col-lg-6 text-end px-0">
                <button mat-raised-button class="mat-btn-s tab-button-content order-sm-2 order-1" [ngClass]="{'isActive': isCurrent}" type="button" (click)="getCurrentEmployeeList()">Current</button> 
                <button mat-raised-button class="mat-btn-s tab-button-content order-sm-3 order-2" [ngClass]="{'isActive': isHistory}" type="button" (click)="getEmployeeHistoryList()">History</button> 
                <!-- <button mat-raised-button class="proceedbtn mat-btn-s download-btn" type="button"><i class="fa fa-download"></i></button> -->
                <button mat-raised-button class="proceedbtn mat-btn-s order-sm-1 order-3" type="button" (click)="openCreateEmployeePage()" *ngIf="userRole !='Admin' && accessPermissions[0]?.create || userRole === 'Admin'">Create
                  Employee</button>    
              </div>
          </div>
          <div class="row mx-1 my-2 px-0 table-wrapper">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0 ">
              <table class="table table table-hover table-list">
                <thead>
                  <tr>
                    <th scope="col"> S.No</th>
                    <th scope="col">Emp No
                      <i *ngIf="!arrowState['employee_number']" (click)="sort('ascending','employee_number')" class="bi bi-arrow-down"></i>
                <i (click)="sort('descending','employee_number')" *ngIf="arrowState['employee_number']"
                  class="bi bi-arrow-up"></i>
                    </th>
                    <th scope="col">Employee
                      <i *ngIf="!arrowState['user__full_name']" (click)="sort('ascending','user__full_name')" class="bi bi-arrow-down"></i>
                      <i (click)="sort('descending','user__full_name')" *ngIf="arrowState['user__full_name']"
                        class="bi bi-arrow-up"></i>
                    </th>
                    <th scope="col">Emp Email
                      <i *ngIf="!arrowState['user__email']" (click)="sort('ascending','user__email')" class="bi bi-arrow-down"></i>
                      <i (click)="sort('descending','user__email')" *ngIf="arrowState['user__email']"
                        class="bi bi-arrow-up"></i>
                    </th>
                    <th scope="col">Role
                      <i *ngIf="!arrowState['designation__designation_name']" (click)="sort('ascending','designation__designation_name')" class="bi bi-arrow-down"></i>
                      <i (click)="sort('descending','designation__designation_name')" *ngIf="arrowState['designation__designation_name']"
                        class="bi bi-arrow-up"></i>
                        <button mat-icon-button [matMenuTriggerFor]="roleFilterMenu" (menuOpened)="openFilter(roleFilter)" [ngClass]="filters.designation__designation_name.length>=1 ? 'filterdColumn':''">
                        <span *ngIf="filters.designation__designation_name.length>=1">{{filters.designation__designation_name.length.toString().padStart(2, '0')}}</span>
                         <i class="bi-funnel" *ngIf="filters.designation__designation_name.length===0"></i>
                        </button>

                        <!-- [options]="allRoleNames" -->

                        <mat-menu #roleFilterMenu="matMenu">
                          <app-generic-table-filter
                            #roleFilter [fetchOptions]="fetchRoles"
                            [(selectedOptions)]="filters.designation__designation_name"
                            (selectedOptionsChange)="onFilterChange($event, 'designation__designation_name')"
                          ></app-generic-table-filter>
                        </mat-menu>
                    </th>
                    <th scope="col">Emp Status
                    </th>
                    <!-- <th scope="col">Action </th> -->
                  </tr>
                </thead>
                <tbody>
      
                  <ng-container *ngIf="(allEmployeeList) as result">
                    <tr *ngFor='let item of result | customSort:directionValue:sortValue
                    |paginate : {
                             itemsPerPage: tableSize,
                             currentPage: page,
                             totalItems: count
                           }; let i=index' (click)="edit(item)">
                      <td>{{getContinuousIndex(i)}}</td>
                      <td>{{item?.employee_number || '-'}}</td>
                      <td>{{item?.user__full_name || '-'}}</td>
                      <td>{{item?.user__email  || '-'}}</td>
                      <td>{{item?.designation__designation_name  || '-'}}</td>
                      <td class="text-center">
                        <div style="display: block;"><span [ngStyle]="{ 'color': item?.is_active === true ? 'green' : 'red' }">{{ item?.is_active === true ? 'Active' : 'Inactive'   || 'NA' }}</span></div>
                      </td>
                      <!-- <td> <ng-container>
                        <img src="../../../../assets/images/Edit.svg" class="icon-image" type="button" container="body"
                          ngbTooltip="Edit" (click)="edit(item)" />
                          <span  *ngIf="userRole !='Admin' && !accessPermissions[0]?.update && !accessPermissions[0]?.delete">-</span>
                        </ng-container></td> -->
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="row mx-1 my-2 px-0" *ngIf="allEmployeeList?.length === 0" >
            <app-generic-norecards></app-generic-norecards>
          </div>
        
    </section>
    <div class="row mx-0 px-3" *ngIf="allEmployeeList?.length > 0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
          <div class="pagination-container p-0">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
            <div class="items-per-page-container">
              <div>Items per page</div>
              <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" disableOptionCentering panelClass="paginationPanelClass"
                class="page-size">
                <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
</div>
