<mat-form-field appearance="outline" class="w-100">
  <mat-label>{{label}}</mat-label>

  <mat-select
  [formControl]="formControl"
  (openedChange)="onDropdownOpen($event)"
  panelClass="custom-select-panel">

  <div class="search-box" (click)="$event.stopPropagation()">
    <input
      #searchInput
      matInput
      [(ngModel)]="searchText"
      (ngModelChange)="onSearch($event)"
      (keydown)="$event.stopPropagation()"
      (keyup)="$event.stopPropagation()"
      (click)="$event.stopPropagation()"
      [ngModelOptions]="{standalone: true}"
      placeholder="Search {{label}}">
  </div>

  <mat-option *ngFor="let item of list" [value]="item[valueKey]">
    {{item[displayKey]}}
  </mat-option>

  <mat-option *ngIf="loading" disabled>
    Loading...
  </mat-option>

</mat-select>
</mat-form-field>