.table-list {
    table-layout: fixed; /* Ensures fixed-width columns */
    width: 100%;         /* Make table occupy full width */
    border-radius: 10px;
    overflow: hidden; 
    border: 3px solid #ddd;     
    
  }
  
  .table-list th,
  .table-list td {
    width: 20%;          /* 5 columns → 100% / 5 = 20% each */
    text-align: center;  /* Optional: center text */
    word-wrap: break-word;
  }