<header class="header">
  <div class="menu-icon desktop-hide-content">
    <button mat-icon-button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="title">
    <h1 class="breadcrumb-title" *ngIf="pageName">{{pageName}}</h1>
  </div>

  <div class="actions" *ngIf="showActions">
    <div *ngIf="user_role_Name==='Admin'">
      <button mat-icon-button aria-label="Get Started" class="icon-button user-guide-btn" matTooltip="Get started"
        (click)="openWelcomeDialog()">
        <img src="../../../assets/images/bulb.svg" width="25" height="25">
      </button>
    </div>
    <button mat-icon-button aria-label="Notifications" class="icon-button" matTooltip="Notifications"
      (click)="openNotification()" style="position: relative;">
      <img src="../../../../assets/images/Notification.svg" class="notification-icon" />

      <!-- Custom Badge -->
      <span class="custom-badge" *ngIf="notification_count > 0"
        [ngClass]="notification_count > 99 ? 'cs-notification-pad' : ''">
        {{ notification_count > 99 ? '99+' : notification_count }}
      </span>

    </button>
    <!-- <button mat-icon-button aria-label="Logout" class="icon-button mobile-hide-content"
    (click)="openDialogue()" matTooltip="Logout">
      <mat-icon>power_settings_new</mat-icon>
    </button> -->
  </div>
</header>