.invoice-details-header{
height: 75px;
margin: 0 10px;
padding-right: 10px !important;
background: #f5f5f5;
border: none;
justify-content: center;
}
.delete-invoice-btn{
    background: #fff !important;
    color: #000;
    border: 0.5px solid #000;
    justify-content: center;
    width:fit-content !important;
    padding: 0 10px 0 10px;
}

.download-btn{
    min-width: 45px !important;
    background-color: #fff !important;
    color: #000;
}
.back-btn{
    cursor: pointer;
}

.download-icons{
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
  ::ng-deep .downloads .mat-mini-fab .mat-button-wrapper {
    padding: 0px !important;
  }
  ::ng-deep .downloads .mat-mini-fab{
    line-height: 0px !important;
  }