.settings-table-bg{
    max-height: 75vh !important;
}
.table-wrapper{
    max-height: 55vh !important;
    overflow-x: auto;
    margin-bottom: 20px;
}
.close-btn{
  position: absolute;
  right: 8px;
  top: -5px;
}
