<div class="container-wrapper px-0">
    <section class="settings-form-bg">
        <div class="row mx-0 px-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
    <form [formGroup]="jobTypeForm" (ngSubmit)="saveJobTypeDetails()">
        <div class="row mx-0 my-2 px-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-2 px-0">
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                    <mat-label>Job Type<b class="r-star">*</b></mat-label>
                    <input matInput placeholder="Enter Job Type"  formControlName="job_type_name" autocomplete="off">
                    <mat-error *ngIf="f['job_type_name']?.touched && f['job_type_name']?.invalid">
                      <span *ngIf="f['job_type_name'].errors?.['required']">Job Type is required</span>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-2 no-padding pl-5 pr-0">
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                    <mat-label>Job Price <b class="r-star">*</b></mat-label>
                    <input matInput placeholder="Enter Job Price"  formControlName="job_price" autocomplete="off">
                    <mat-error *ngIf="f['job_price']?.touched && f['job_type_name']?.invalid">
                      <span *ngIf="f['job_price'].errors?.['required']">Job Price is required</span>
                    </mat-error>
                  </mat-form-field>
                        </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mt-0 align-content-center">
                    <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Submit</button>
                        </div>
        </div>
    </form>
            </div>
        </div>
    </section>
</div>
