<div class="bg">
    <div class="row mx-0 px-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">

        </div>
    </div>
    <div class="settings-table-bg ">
        <div class="row mx-0 px-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
                <table class="table table table-hover table-list">
                    <thead>
                      <tr>
                        <th>
                      </th>
                      </tr></thead>
                      <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
