<form [formGroup]="periodicityForm" class="periodicity-field">
<mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
  <mat-label>Periodicity</mat-label>
  <input matInput [matDatepicker]="picker1" placeholder="Enter Periodicity"
      formControlName="periodicity" autocomplete="off" (dateInput)="joiningDateFun($event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
       <mat-datepicker #picker1></mat-datepicker>
       <mat-error *ngIf="f['periodicity']?.invalid && f['periodicity']?.touched || f['periodicity']?.dirty">
          <span  *ngIf="f['periodicity']?.errors?.['required']">Periodicity is required</span>
    </mat-error>
</mat-form-field>
</form>
