 ::ng-deep .periodicity-field .mat-form-field-wrapper{
  padding:15px 0 !important;
}

::ng-deep .periodicity-field .mat-form-field-infix{
  padding: 0.5em 0 !important;
  padding-bottom: 1em !important;
}
::ng-deep .periodicity-field .mat-form-field-wrapper{
  padding: 15px 0 !important;
}
::ng-deep .periodicity-field .mat-form-field-appearance-outline .mat-form-field-prefix,
::ng-deep .periodicity-field .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: .25em !important;
}

::ng-deep .periodicity-field .year-only-datepicker .mat-calendar-period-button,
::ng-deep .year-only-datepicker .mat-calendar-arrow {
  display: none;
}
