
  <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
    <mat-label>Periodicity <b class="static-star">*</b></mat-label>
    <mat-select  [(ngModel)]="selectedPeriodicityVal" [ngModelOptions]="{standalone: true}" autocomplete="off"
            placeholder="Periodicity" panelClass="custom-select-panel"
            [disableOptionCentering]="true" (selectionChange)="onPeroidicityChange($event)">
            <div class="mat-select-search-wrapper d-flex">
              <input matInput [(ngModel)]="searchPeroidicityText" autofocus [ngModelOptions]="{standalone: true}" placeholder="Search Periodicity" class="mat-select-search">
              <mat-icon class="search-icon" *ngIf="!searchPeroidicityText">search</mat-icon>
              <mat-icon class="search-icon" *ngIf="searchPeroidicityText" type="button" (click)="clearSearch()">close</mat-icon>
            </div>
            <mat-option *ngFor="let item of filteredPeriodicityList()" [value]="item?.id">
                {{item?.periodicty_name}}
            </mat-option>
    </mat-select>
</mat-form-field>
