
.settings-table-bg {
  // max-height: 90vh !important;
}
.mat-select-search-wrapper {
    padding: 8px;
    background-color: #fff;
  }
  
  .mat-select-search {
    width: 100%;
  }
  th:first-child, td:first-child {
    width: auto !important; 
}
::ng-deep .mat-form-field-infix{
    padding: 0.5em 0 !important;
    padding-bottom: 1em !important;
}
::ng-deep .mat-form-field-wrapper{
    padding: 15px 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: .25em !important;
}