<div class="container-wrapper settings-main-content px-0">
  <section class="settings-table-bg">
    <div class="row mx-0 my-2 px-0 table-wrapper">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0 ">

        <!-- <div class="py-2">
          <span class="fw-bold"><u>All Leaves</u></span>
        </div> -->

        <div class="row mx-0" *ngIf="userRole==='Manager'">
          <div class="col-sm-12 col-md-6 col-lg-3 px-0">
            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
              <mat-label>Employee <b class="r-star">*</b></mat-label>
              <mat-select autocomplete="off" placeholder="select" panelClass="custom-select-panel"
                (selectionChange)="onEmployeeChange($event)" (openedChange)="onDropdownOpened($event, 'employee')">
                <div class="mat-select-search-wrapper d-flex">
                  <input matInput [(ngModel)]="dropdownState.employee.search"
                    (ngModelChange)="onSearch('employee', $event)" autofocus [ngModelOptions]="{standalone: true}"
                    placeholder="Search employee" class="mat-select-search">
                  <mat-icon class="search-icon" *ngIf="!dropdownState.employee.search">search</mat-icon>
                  <mat-icon class="search-icon" *ngIf="dropdownState.employee.search" type="button"
                    (click)="clearSearchDropD('employee')">close</mat-icon>
                </div>
                <mat-option hidden disabled></mat-option>
                <mat-option *ngFor="let item of getOptionsWithSelectedOnTop('employee')" [value]="item?.user_id">
                  {{item?.user__full_name}}
                </mat-option>
              </mat-select>
              <!-- <button *ngIf="selectedItemsMap['employee'].length" mat-icon-button matSuffix
                    aria-label="Clear" (click)="clearEmployeeSelection()">
              <mat-icon>close</mat-icon>
            </button> -->
            </mat-form-field>
          </div>
        </div>



        <table class="table table table-hover table-list">
          <thead>
            <tr>
              <th scope="col"> Leaves </th>
              <th scope="col"> Opening Balance</th>
              <th scope="col">Accrued</th>
              <th scope="col">Utilized </th>
              <th scope="col">Cl Balance </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of all_leaves">
              <td>{{i.leave_type}}</td>
              <td>{{i.total_number_of_leaves}}</td>
              <td>{{i.accrued}}</td>
              <td>{{i.consumed_leaves}}</td>
              <td>{{i.remaining_leaves}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12" *ngIf="all_leaves?.length === 0">
      <app-generic-norecards></app-generic-norecards>
    </div>
    <div class="row mx-0 mt-3">
      <div class="col-md-4">
        <div class="row mx-0 my-2 px-0 table-wrapper bg-white" style="overflow-x: hidden;">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
            <div class="py-2">
              <span class="fw-bold ps-3"><u>Upcoming Holidays</u></span>
            </div>
            <div class="row p-3" *ngFor="let i of upcoming_holidays">
              <div class="col-4 fw-bold">{{i.date}}</div>
              <div class="col-6 fw-bold">{{i.name}}</div>
            </div>
          </div>
        </div>
        <!-- <div class="col-12"  *ngIf="all_leaves?.length === 0">
              <app-generic-norecards></app-generic-norecards>
            </div> -->

      </div>

      <div class="col-md-8 bg-white">
        <div class="row mx-0 my-2 px-0 table-wrapper" style="overflow-x: hidden;">
          <div class="col-12 px-0">
            <div class="py-2">
              <span class="fw-bold"><u>Upcoming Leaves</u></span>
            </div>

            <!-- Header Row -->
            <div class="row fw-bold border-bottom py-2">
              <div class="col-sm-12 col-md-6 col-lg-5">Date</div>
              <div class="col-sm-12 col-md-6 col-lg-5">Reason</div>
            </div>

            <!-- Data Rows -->
            <div class="row py-2 my-1" *ngFor="let i of upcomingPendingLeaves">
              <div class="col-sm-12 col-md-6 col-lg-5">{{i.from_date}} - {{i.to_date}}</div>
              <div class="col-sm-12 col-md-6 col-lg-5">{{i.message}}</div>
            </div>
            <div class="row mx-0" *ngIf="upcomingPendingLeaves?.length === 0">
              <app-generic-norecards></app-generic-norecards>
            </div>
          </div>
        </div>

      </div>


    </div>

  </section>


</div>