<div class="container-wrapper settings-main-content px-0 user-dashboard">
  <section class="settings-table-bg" cdkScrollable>
    <div class="row mx-0 my-2 px-0 table-wrapper">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0 ">

        <!-- <div class="py-2">
          <span class="fw-bold"><u>All Leaves</u></span>
        </div> -->

        <div class="row mx-0" *ngIf="userRole==='Manager'">
          <div class="col-sm-12 col-md-6 col-lg-3 px-0">
            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
              <mat-label>Employee</mat-label>
              <input matInput [formControl]="employeeDisplayControl"
                  [matAutocomplete]="employeeAutoRef"
                  placeholder="Search employee"
                  (focus)="onEmployeeFocus()"
                  (blur)="onEmployeeBlur()">
              <mat-autocomplete #employeeAutoRef="matAutocomplete"
                  [displayWith]="displayEmployeeFn"
                  (optionSelected)="onEmployeeOptionSelected($event)">
                  <mat-option *ngFor="let item of getOptionsWithSelectedOnTop('employee')" [value]="item">
                      {{item?.user__full_name}}
                  </mat-option>
                  <mat-option *ngIf="dropdownState.employee.loading" disabled class="loading-option">
                      Loading...
                  </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>



        <table class="table table table-hover table-list">
          <thead>
            <tr>
              <th scope="col"> Leaves </th>
              <th scope="col"> Opening Balance</th>
              <th scope="col">Increased</th>
              <th scope="col">Decreased</th>
              <th scope="col">Cl Balance </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of all_leaves">
              <td>{{i.leave_type}}</td>
              <td>{{i.opening_balance}}</td>
              <td>{{i.accrued_leave}}</td>
              <td>{{i.consumed_leave}}</td>
              <td>{{i.closing_balance_leave}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12" *ngIf="all_leaves?.length === 0">
      <app-generic-norecards></app-generic-norecards>
    </div>
    <div class="row mx-0 mt-3 mb-4">

      <!-- Upcoming Holidays -->
      <div class="col-md-4 mb-3" *ngIf="upcoming_holidays?.length">
        <div class="py-2">
          <span class="fw-bold">Upcoming Holidays</span>
        </div>
        <div class="upcoming-card">
          <div class="upcoming-card-body">
            <table class="table table-hover table-list upcoming-table mb-0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Holiday</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of upcoming_holidays">
                  <td class="text-nowrap">{{i.date | dateFormater}}</td>
                  <td>{{i.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Upcoming Leaves -->
      <div class="col-md-8 mb-3" *ngIf="upcomingPendingLeaves?.length > 0">
        <div class="py-2">
          <span class="fw-bold">Upcoming Leaves</span>
        </div>
        <div class="upcoming-card">
          <div class="upcoming-card-body">
            <table class="table table-hover table-list upcoming-table mb-0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Reason</th>
                  <th>Leave Type</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of upcomingPendingLeaves">
                  <td class="text-nowrap">{{i.from_date | dateFormater}} - {{i.to_date | dateFormater}}</td>
                  <td>{{i.message}}</td>
                  <td>{{i.leave_type_name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </section>


</div>