$primay-color: #126EB4;
$secondary-color:#FFFFFF4D;
.s-w{
    width: 65px;
    padding: 5px;
}
.title-tag{
   text-transform: capitalize !important;
}
.modal-header{
    border-bottom: 0 !important;
}
.modal-footer{
    padding-bottom: 25px !important;
        border-top: 0 !important;
        justify-content: center !important;
}
i{
    margin-right: 6px;
    color: #4f5d73;
    
}
p{
    font-size: 15px !important;
    color: #262525 !important;
}
button{
    padding: 10px 30px !important;
    width: 100px;
    border-radius: 4px !important;
}
button.btn-cancel {  
    background-color:  #d3d3d34f !important;
    border: none !important;
    outline: none;
    margin-right: 10px;
}

button.btn-yes {
    background-color: $primay-color;
    border: none !important;
    color: #fff;
    margin: 0;
}
.modal-title{
    font-size: 18px;
}

.custom-modal {
   
    text-align: center;
    padding: 30px 18px 0px !important;

    .modal-title {
        padding-bottom: 15px;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: center;
        i{
            font-size: 16px;
            color: #000;
        }
    }
    .title-icon {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

        i {
            color: #ffa500c9;
            font-size: 3rem !important;
        }
    }
    .modal-footer {
        padding: 0px 18px 30px !important;
        border-top: 0 !important;
        justify-content: center !important;
    }

}