/* === Sidebar Navigation === */
.sidebar-nav {
  padding: 10px 20px 0 0;

  .nav-link {
    color: black !important;

    &.active {
      color: #212529 !important;
      font-weight: 500;
      font-family: 'Helvetica', sans-serif !important;
      background: white;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    .nav-icon {
      color: rgb(13, 107, 178);
      font-size: 16px;
      font-family: 'Helvetica', sans-serif !important;
    }

    &:hover {
      text-decoration: none;

      .nav-icon {
        opacity: 0.7;
        color: white !important;
        font-size: 16px;
        font-family: 'Helvetica', sans-serif !important;
      }
    }

    &.active .nav-icon {
      color: white !important;
    }
  }

  .nav-group-items .nav-item .nav-link {
    padding-left: 30px !important;
  }

  .nav-group-toggle::after {
    background-image: var(--cui-sidebar-toggler-indicator) !important;
    transform: rotate(-92deg) !important;
  }

  .nav-group.show > .nav-group-toggle::after {
    transform: rotate(92deg) !important;
  }
}

/* === Sidebar Container === */
#sidebar {
  background-image: url(./../assets/images/sidebar-bg-transparent-img.png),
    radial-gradient(100% 60.3% at 0% 45.5%, #ffffff 0%, #d7eeff 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  #sidebar {
    z-index: 1;
  }
}

/* === Sidebar Styles === */
.sidebar {
  font-size: 14px;
  font-family: 'Helvetica', sans-serif !important;
}

.mobileView .sidebar {
  font-size: 16px !important;
  font-family: 'Helvetica', sans-serif !important;
}

/* === Sidebar Brand === */
.sidebar-brand {
  height: 50px;
  background: transparent !important;
  padding: 5px !important;
  justify-content: left;
}

/* === Sidebar Toggler === */
.sidebar-toggler {
  background-color: transparent !important;

  &:hover::before {
    background-image: var(--cui-sidebar-toggler-indicator) !important;
  }
}

/* === Responsive Sidebar Width === */
@media (max-width: 991.98px) {
  .sidebar:not(.sidebar-end) ~ * {
    --cui-sidebar-occupy-start: 0 !important;
    --cui-sidebar-width: 0 !important;
  }
}

@media (min-width: 991.99px) {
  .sidebar {
    --cui-sidebar-width: 12rem !important;
    }
    .sidebar:not(.sidebar-end) ~ * {
         --cui-sidebar-occupy-start: 12rem !important;
          --cui-sidebar-width: 12rem !important;
    }
    .sidebar.collapsed-sidebar {
    --cui-sidebar-width: 4rem !important;
    }
    .sidebar.collapsed-sidebar:not(.sidebar-end) ~ * {
         --cui-sidebar-occupy-start: 3.8rem !important;
          --cui-sidebar-width: 3.8rem !important;
    }
}
