
// vpl
.settings-table-bg{
    background: #EFF8FF!important;
    box-shadow: 0px 4px 6px rgba(239, 248, 255, 0.5);
    border-radius: 8px;
    padding: 5px 20px 10px 20px;
    margin: 5px 10px 5px 10px;
    min-height: auto;
    // max-height: 65vh !important;
    max-height: 70vh !important;
    overflow-x: hidden;
    // overflow-y:hidden;
  }
  .settings-form-bg{
    background: #fff !important;
    overflow-y: auto !important;
    box-shadow: 0px 4px 6px rgba(239, 248, 255, 0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 5px 10px 10px 10px;
  }

  .settings-main-content{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .rich-editor-bg{
    background: #f2f2f2 !important;
    overflow-y: auto !important;
    box-shadow: 0px 4px 6px rgba(239, 248, 255, 0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 5px 10px 10px 10px;
  }
  .ql-editor{
    background: #fff;
  }
  .table-wrapper{
    min-height: auto;
    // max-height: 55vh !important;
    // overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
    max-height: 48vh !important;
    overflow-x: auto;
    margin-bottom: 20px;
}
thead th {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important; /* Keeps the header above table content */
  }

  .table-list > :not(caption) > * > *{
    padding: 0.6rem 0.6rem !important;
  }
  .icon-image{
    cursor: pointer;
    height: 27px;
    margin: 0 5px;
}
.cancel-button{
  margin-right: 15px !important;
  background-color: aliceblue;
}
.delete-item-button{
  background-color: red;
  color:#fff;
}
.disabled-section {
  pointer-events: none;
  opacity: 0.6; /* Optional: makes it visually clear that it's disabled */
}
.NgxEditor__Wrapper .NgxEditor .NgxEditor__Content{
  height: 200px !important;
  overflow: auto !important;
}
// Rich editor css
.editor-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.ck-editor__editable_inline {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
ngx-editor-menu {
  z-index: 10;
  position: relative;
}
ngx-editor {
  flex-grow: 1;
  overflow: auto;
}
.NgxEditor__Popup input{
height: 25px !important;
}
@media only screen and (min-width: 280px) and (max-width: 767px)  {
    .no-padding{
        padding-left: 0px;
    }
}

.paginationPanelClass{
  margin-top: 30px !important;
}
.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background:#126EB4 !important;
}
input[type="date"] {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
  z-index: -1;
}
.mat-selection-list.mat-selection-list.mat-list-base{
  height: fit-content;
  max-height: 200px;
  overflow-y: auto;
}

.name-col{
  width: 250px;
  min-width: 260px !important;
  text-align: center;
}
app-default-layout{
.mat-nav-list .mat-list-item {
    font-size: 14px !important;
}
}
app-default-header{
zoom:80%;
}
.custom-details-dialog{
    max-width: 97vw !important;
    width: 97vw !important;
}

.mat-select-panel .mat-optgroup-label, 
.mat-select-panel .mat-option{
font-weight: bold !important;
font-size: 12px !important;
}

.mat-option.mat-active{
  background: #85b6dc !important;
}
.mat-option:hover{
  background: aliceblue !important;
}

/* Editable input style */
input.editable-cell,
mat-select.editable-cell{
  background-color:  #85b6dc !important;
  border: 1px solid #000 !important;
  padding: 6px;
  border-radius: 4px;
  transition: border 0.2s, box-shadow 0.2s;
}

/* On focus */
input.editable-cell:focus,
mat-select.editable-cell:focus {
  background: #fff !important;
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

/* Hover style */
.editable-cell:hover {
  background-color: #fff;
}

.mat-menu-panel{
  max-width: 400px !important;
}
button.filterdColumn {
  background: #fff;
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  border-radius: 8% !important;
  span{
    color: red !important;
    font-size: 12px !important;
    font-weight:700;
  }
}