
// vpl
.settings-table-bg{
    background: #FFF8FF !important;
    box-shadow: 0 4px 12px rgb(197, 237, 254);
    border-radius: 8px;
    padding: 5px 20px 10px 20px;
    margin: 5px 10px 5px 10px;
    min-height: auto;
    max-height: 65vh !important;
    overflow-x: hidden;
    overflow-y:hidden;
  }
  .settings-form-bg{
    background: #fff !important;
    overflow-y: auto !important;
    box-shadow: 0 4px 12px rgb(197, 237, 254);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 5px 10px 10px 10px;
  }
  
  .settings-main-content{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .table-wrapper{
    min-height: auto;
    max-height: 55vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
}
thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Keeps the header above table content */
  }
   
  .table-list > :not(caption) > * > *{
    padding: 0.6rem 0.6rem !important;
  }
  .icon-image{
    cursor: pointer;
    height: 27px;
    margin: 0 5px;
}
@media only screen and (min-width: 280px) and (max-width: 767px)  {
    .no-padding{
        padding-left: 0px;
    }
}

