<!-- Input field with the calendar icon -->
<mat-form-field appearance="outline" class="w-100">
   <mat-label>Period <b class="r-star">*</b></mat-label>
  <input matInput [formControl]="control" placeholder="{{ mode === 'Quarterly' ? 'Qx YYYY' : mode === 'Monthly' ? 'Mon YYYY' : 'YYYY' }}" readonly [matMenuTriggerFor]="pickerMenu">
  <button
  mat-icon-button
  matSuffix
  [matMenuTriggerFor]="pickerMenu"
  #trigger="matMenuTrigger"
  aria-label="Open picker">
  <mat-icon>calendar_today</mat-icon>
</button>
</mat-form-field>

<!-- Material menu that pops up on input click -->
<mat-menu #pickerMenu="matMenu" class="picker-menu">
  <!-- Year Navigation -->
  <div class="picker-header" *ngIf="mode!= 'Yearly'">
    <button mat-icon-button (click)="prevDecade();$event.stopPropagation()" aria-label="Previous Decade">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button mat-button (click)="toggleView();$event.stopPropagation()">
      {{ showSelection ? (year || yearDefault) : (yearRangeStart + ' - ' + (yearRangeStart + 9)) }}
    </button>

    <button mat-icon-button (click)="nextDecade();$event.stopPropagation()" aria-label="Next Decade">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <!-- Selection Grid -->
  <div class="picker-body">
    <!-- Year Mode -->
    <ng-container *ngIf="mode === 'Yearly' && showSelection">
      <!-- <button mat-button *ngFor="let y of [0,1,2,3,4,5,6,7,8,9]" (click)="changeYear(yearRangeStart + y);$event.stopPropagation()">
        {{ yearRangeStart + y }}
      </button> -->
      <!-- client asked us to display from 2018 to current year -->
         <button mat-button *ngFor="let y of yearList" (click)="changeYear(y); $event.stopPropagation()">{{ y }}
        </button>
    </ng-container>

    <!-- Quarter Mode -->
    <ng-container *ngIf="mode === 'Quarterly' && showSelection">
      <button mat-button *ngFor="let item of quarters" (click)="select(item.value);$event.stopPropagation()" class="picker-item">
        <small>{{ item.months.join(', ') }}</small>
        <!-- below one is commented because the client requested no need of label (Q1, Q2 etc) -->
        <!-- <b>{{ item.value }}</b> — <small>{{ item.months.join(', ') }}</small> -->
      </button>
    </ng-container>

    <!-- Month Mode -->
    <ng-container *ngIf="mode === 'Monthly' && showSelection">
      <button mat-button *ngFor="let month of months" (click)="select(month);$event.stopPropagation()" class="picker-item">
        {{ month }}
      </button>
    </ng-container>

    <!-- Year Selection -->
    <ng-container *ngIf="!showSelection">
      <div class="year-grid">
        <button mat-stroked-button *ngFor="let y of [0,1,2,3,4,5,6,7,8,9]" (click)="changeYear(yearRangeStart + y);$event.stopPropagation()">
          {{ yearRangeStart + y }}
        </button>
      </div>
    </ng-container>
  </div>
</mat-menu>
