<div class=" px-0">
    <section class="p-0 add-compoff">
        <div class="row mx-0">
            <div class="col-12 my-3 d-md-flex justify-content-between align-items-center">
                <h4>{{headingText}}</h4>
                <div *ngIf="data.edit" class="mt-md-0 mt-2">
                     <span style="background: #ffface; color: #978419; font-size: 14px" *ngIf="comOffGrantData?.status === 'Pending'"
                    class="rounded p-2">{{ comOffGrantData?.status | uppercase }}</span>
                    <span *ngIf="comOffGrantData?.status === 'rejected'" style="font-size: 14px;background:#fee2e2; color: #b91c1c;"
                    class="rounded p-2">{{ comOffGrantData?.status | uppercase }}</span>
                    <span *ngIf="comOffGrantData?.status === 'approved'" style="font-size: 14px ;background: #dcfce7; color: #15803d;"
                    class="rounded p-2">{{ comOffGrantData?.status | uppercase }}</span>
                </div>
            </div>
           <div class="col-12 mx-0 my-3" *ngIf="data.edit">
                <div class="row mx-0">
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <h4 class="label-name">Employee Name</h4>
                        <p>{{comOffGrantData?.employee_name}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <h4 class="label-name">From Date</h4>
                        <p>{{comOffGrantData?.from_date}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <h4 class="label-name">To Date</h4>
                        <p>{{comOffGrantData?.to_date}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <h4 class="label-name">Taken</h4>
                        <p>{{comOffGrantData?.number_of_leaves_applying_for}}</p>
                    </div>
                    <!-- <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <h4 class="label-name">Credited</h4>
                        <p>{{comOffGrantData?.credited || 0}}</p>
                    </div> -->
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <h4 class="label-name">Reason</h4>
                        <p>{{comOffGrantData?.message}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2" *ngIf="comOffGrantData?.attachment">
                        <h4 class="label-name">Attachment</h4>
                        <img src="../../../assets/images/eye icon.svg" class="icon-image" container="body"
                                    ngbTooltip="View" type="button" (click)="openInNewTab(comOffGrantData.attachment)" /> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2" *ngIf="comOffGrantData?.rejected_reason">
                        <h4 class="label-name">Rejected Reason</h4>
                        <p>{{comOffGrantData?.rejected_reason}}</p>
                    </div>
                    <form [formGroup]="rejectCompOffForm">
                        <div class="col-12" *ngIf="comOffGrantData?.status==='Pending'">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Reason for Rejecting<b class="r-star">*</b></mat-label>

                                <textarea matInput placeholder="Enter reason" autocomplete="off"
                                    style="height: 50px !important" formControlName="rejected_reason" maxlength="200"
                                    rows="3"></textarea>
                                <mat-error *ngIf="f['rejected_reason']?.invalid && f['rejected_reason']?.touched || f['rejected_reason']?.dirty">
                                    <span *ngIf="f['rejected_reason']?.errors?.['required']">Reason is required</span>
                                </mat-error>
                                <!-- <mat-hint align="end" class="mt-2">
                                    {{ f['rejected_reason']?.value?.length || 0 }}/200 ({{ 200 - (f['rejected_reason']?.value?.length || 0) }} left)
                                </mat-hint> -->
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="col-12 my-4 px-2 d-flex justify-content-around">
                        <div>
                            <button mat-button class="cancel-button mat-btn-s me-2" type="button" mat-dialog-close>
                                Close</button>
                            <button *ngIf="comOffGrantData?.status==='Pending'" mat-raised-button class="proceedbtn mat-btn-s me-2" type="button"
                                (click)="approve(comOffGrantData)">Approve</button>
                            <button *ngIf="comOffGrantData?.status==='Pending'" mat-raised-button class="delete-item-button mat-btn-s " type="submit"
                                (click)="reject(comOffGrantData)">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>