::ng-deep .mat-dialog-container {
    padding: 10px !important;
}
::ng-deep .mat-form-field-infix{
    padding: 0.5em 0 !important;
    padding-bottom: 1em !important;
}
::ng-deep .mat-form-field-wrapper{
    padding: 15px 0 !important;
}
.mat-select-search-wrapper {
    padding: 8px;
    background-color: #fff;
  }
  
  .mat-select-search {
    width: 100%;
  }
.add-compoff .label-name{
    font-size: 17px !important;
    margin-bottom: 5px !important;
}
// @media screen and (max-width: 991px) {
//   ::ng-deep .mat-dialog-container {
//     width: 90% !important;
//     height: 80vh !important
//   }
// }